In [2]:
import pandas as pd
import numpy as np

<h1>Feature Engineering Notebook</h1>

The main purpose of this notebook is to create extra columns of data in our dataset to be trained on. Our plan is to create a column(s) for the current distribution of pitches thrown by that pitcher for that game.

In [3]:
# Read in the data
pitches = pd.read_parquet('catboost_data.parquet')
print(f"Done reading in pitches, has size {pitches.shape}")

Done reading in pitches, has size (3514339, 17)

In [12]:
# Get a specific pitcher to test the data on.
selected = pitches[pitches.full_name == pitches.full_name.sample(1).values[0]]
selected.head(2)

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
229537,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,518792,1.0,0.0,Right,Left,False,201701473.0,FF
229538,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,518792,1.0,0.0,Right,Left,False,201701473.0,FF

In [23]:
grouped_df = selected.groupby('g_id')

for key, item in grouped_df:
    display(grouped_df.get_group(key))

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1010278,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,430203,1.0,0.0,Right,Left,False,201500025.0,FF
1010279,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,430203,1.0,0.0,Right,Left,False,201500025.0,FF
1010280,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,430203,1.0,0.0,Right,Left,False,201500025.0,FF
1010281,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,430203,1.0,0.0,Right,Left,False,201500025.0,CU
1010282,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,430203,1.0,0.0,Right,Left,False,201500025.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010371,Miguel Gonzalez,0.0,1.0,0.0,2.0,2.0,1.0,0.0,0.0,457775,6.0,0.0,Right,Right,False,201500025.0,FF
1010372,Miguel Gonzalez,0.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,457775,6.0,0.0,Right,Right,False,201500025.0,SL
1010373,Miguel Gonzalez,0.0,2.0,1.0,2.0,4.0,1.0,0.0,0.0,457775,6.0,0.0,Right,Right,False,201500025.0,FF
1010374,Miguel Gonzalez,0.0,3.0,1.0,2.0,5.0,1.0,0.0,0.0,457775,6.0,0.0,Right,Right,False,201500025.0,SL
1010375,Miguel Gonzalez,0.0,3.0,2.0,2.0,6.0,1.0,0.0,0.0,457775,6.0,0.0,Right,Right,False,201500025.0,CU

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1152607,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,True,201500113.0,FF
1152608,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,True,201500113.0,CH
1152609,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,True,201500113.0,FF
1152610,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,True,201500113.0,FF
1152611,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,452104,1.0,0.0,Right,Left,True,201500113.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1152710,Miguel Gonzalez,1.0,1.0,2.0,1.0,6.0,0.0,0.0,0.0,455759,7.0,3.0,Right,Right,True,201500113.0,CU
1152711,Miguel Gonzalez,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,452220,7.0,3.0,Right,Left,True,201500113.0,CU
1152712,Miguel Gonzalez,1.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,452220,7.0,3.0,Right,Left,True,201500113.0,CU
1152713,Miguel Gonzalez,1.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,452220,7.0,3.0,Right,Left,True,201500113.0,CH
1152714,Miguel Gonzalez,1.0,1.0,2.0,2.0,4.0,0.0,0.0,0.0,452220,7.0,3.0,Right,Left,True,201500113.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1059828,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,571788,1.0,2.0,Right,Left,False,201500173.0,FF
1059829,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,571788,1.0,2.0,Right,Left,False,201500173.0,FF
1059830,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,571788,1.0,2.0,Right,Left,False,201500173.0,CU
1059831,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,571788,1.0,2.0,Right,Left,False,201500173.0,FF
1059832,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,571788,1.0,2.0,Right,Left,False,201500173.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059919,Miguel Gonzalez,3.0,2.0,1.0,1.0,4.0,1.0,0.0,0.0,435063,5.0,5.0,Right,Right,False,201500173.0,SL
1059920,Miguel Gonzalez,3.0,3.0,1.0,1.0,5.0,1.0,0.0,0.0,435063,5.0,5.0,Right,Right,False,201500173.0,FF
1059921,Miguel Gonzalez,3.0,3.0,2.0,1.0,6.0,1.0,0.0,0.0,435063,5.0,5.0,Right,Right,False,201500173.0,FF
1059922,Miguel Gonzalez,3.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,467055,5.0,5.0,Right,Left,False,201500173.0,FF
1059923,Miguel Gonzalez,3.0,0.0,1.0,2.0,2.0,1.0,0.0,0.0,467055,5.0,5.0,Right,Left,False,201500173.0,CU

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
967676,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,True,201500237.0,FF
967677,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,True,201500237.0,FF
967678,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,True,201500237.0,CU
967679,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,True,201500237.0,FF
967680,Miguel Gonzalez,0.0,3.0,1.0,0.0,5.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,True,201500237.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967762,Miguel Gonzalez,4.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,537953,6.0,3.0,Right,Left,True,201500237.0,FF
967763,Miguel Gonzalez,4.0,2.0,0.0,0.0,3.0,1.0,0.0,0.0,537953,6.0,3.0,Right,Left,True,201500237.0,FT
967764,Miguel Gonzalez,4.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,571788,6.0,3.0,Right,Left,True,201500237.0,FF
967765,Miguel Gonzalez,4.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,452672,6.0,3.0,Right,Right,True,201500237.0,FF
967766,Miguel Gonzalez,4.0,0.0,1.0,1.0,2.0,1.0,1.0,0.0,452672,6.0,3.0,Right,Right,True,201500237.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
889114,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,430203,1.0,0.0,Right,Left,True,201500355.0,FF
889115,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,430203,1.0,0.0,Right,Left,True,201500355.0,FF
889116,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,430203,1.0,0.0,Right,Left,True,201500355.0,FF
889117,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,430203,1.0,0.0,Right,Left,True,201500355.0,FT
889118,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,430203,1.0,0.0,Right,Left,True,201500355.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889214,Miguel Gonzalez,0.0,2.0,0.0,2.0,3.0,1.0,0.0,0.0,430203,8.0,4.0,Right,Left,True,201500355.0,FF
889215,Miguel Gonzalez,0.0,2.0,1.0,2.0,4.0,1.0,0.0,0.0,430203,8.0,4.0,Right,Left,True,201500355.0,SL
889216,Miguel Gonzalez,0.0,2.0,2.0,2.0,5.0,1.0,0.0,0.0,430203,8.0,4.0,Right,Left,True,201500355.0,CU
889217,Miguel Gonzalez,0.0,3.0,2.0,2.0,6.0,1.0,0.0,0.0,430203,8.0,4.0,Right,Left,True,201500355.0,FF
889218,Miguel Gonzalez,0.0,3.0,2.0,2.0,7.0,1.0,0.0,0.0,430203,8.0,4.0,Right,Left,True,201500355.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
967991,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,False,201500425.0,SL
967992,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,False,201500425.0,FF
967993,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,False,201500425.0,FF
967994,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,False,201500425.0,CH
967995,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,458731,1.0,0.0,Right,Left,False,201500425.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968065,Miguel Gonzalez,5.0,1.0,2.0,1.0,5.0,0.0,0.0,0.0,517369,4.0,0.0,Right,Right,False,201500425.0,FF
968066,Miguel Gonzalez,5.0,1.0,2.0,1.0,6.0,0.0,0.0,0.0,517369,4.0,0.0,Right,Right,False,201500425.0,CU
968067,Miguel Gonzalez,5.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,544369,4.0,0.0,Right,Left,False,201500425.0,CU
968068,Miguel Gonzalez,5.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,544369,4.0,0.0,Right,Left,False,201500425.0,CH
968069,Miguel Gonzalez,5.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,544369,4.0,0.0,Right,Left,False,201500425.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
968815,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,581527,1.0,0.0,Right,Right,True,201500506.0,FF
968816,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,581527,1.0,0.0,Right,Right,True,201500506.0,FF
968817,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,581527,1.0,0.0,Right,Right,True,201500506.0,FT
968818,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,581527,1.0,0.0,Right,Right,True,201500506.0,FF
968819,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,518626,1.0,0.0,Right,Right,True,201500506.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968911,Miguel Gonzalez,0.0,1.0,1.0,2.0,3.0,1.0,0.0,1.0,518626,8.0,5.0,Right,Right,True,201500506.0,SL
968912,Miguel Gonzalez,0.0,1.0,2.0,2.0,4.0,1.0,0.0,1.0,518626,8.0,5.0,Right,Right,True,201500506.0,SL
968913,Miguel Gonzalez,0.0,2.0,2.0,2.0,5.0,1.0,0.0,1.0,518626,8.0,5.0,Right,Right,True,201500506.0,FF
968914,Miguel Gonzalez,0.0,2.0,2.0,2.0,6.0,1.0,0.0,1.0,518626,8.0,5.0,Right,Right,True,201500506.0,FT
968915,Miguel Gonzalez,0.0,3.0,2.0,2.0,7.0,1.0,0.0,1.0,518626,8.0,5.0,Right,Right,True,201500506.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
420721,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,452234,1.0,0.0,Right,Left,True,201500582.0,FF
420722,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,452234,1.0,0.0,Right,Left,True,201500582.0,FF
420723,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,452234,1.0,0.0,Right,Left,True,201500582.0,CU
420724,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,452234,1.0,0.0,Right,Left,True,201500582.0,FF
420725,Miguel Gonzalez,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543543,1.0,0.0,Right,Left,True,201500582.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420814,Miguel Gonzalez,4.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,621035,7.0,7.0,Right,Right,True,201500582.0,FT
420815,Miguel Gonzalez,4.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,452234,7.0,7.0,Right,Left,True,201500582.0,SL
420816,Miguel Gonzalez,4.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,452234,7.0,7.0,Right,Left,True,201500582.0,FT
420817,Miguel Gonzalez,4.0,0.0,2.0,2.0,3.0,0.0,0.0,0.0,452234,7.0,7.0,Right,Left,True,201500582.0,FF
420818,Miguel Gonzalez,4.0,1.0,2.0,2.0,4.0,0.0,0.0,0.0,452234,7.0,7.0,Right,Left,True,201500582.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
824738,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543829,1.0,0.0,Right,Left,False,201500645.0,FF
824739,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,543829,1.0,0.0,Right,Left,False,201500645.0,FF
824740,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,543829,1.0,0.0,Right,Left,False,201500645.0,FF
824741,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,543829,1.0,0.0,Right,Left,False,201500645.0,FF
824742,Miguel Gonzalez,0.0,1.0,2.0,0.0,5.0,0.0,0.0,0.0,543829,1.0,0.0,Right,Left,False,201500645.0,CH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824829,Miguel Gonzalez,5.0,3.0,0.0,0.0,4.0,0.0,0.0,0.0,571506,5.0,0.0,Right,Left,False,201500645.0,FT
824830,Miguel Gonzalez,5.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,592885,5.0,0.0,Right,Left,False,201500645.0,FT
824831,Miguel Gonzalez,5.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,592885,5.0,0.0,Right,Left,False,201500645.0,FT
824832,Miguel Gonzalez,5.0,0.0,2.0,0.0,3.0,1.0,0.0,0.0,592885,5.0,0.0,Right,Left,False,201500645.0,SL
824833,Miguel Gonzalez,5.0,1.0,2.0,0.0,4.0,1.0,0.0,0.0,592885,5.0,0.0,Right,Left,False,201500645.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
950894,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,595281,1.0,0.0,Right,Left,True,201500724.0,FF
950895,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,595281,1.0,0.0,Right,Left,True,201500724.0,FF
950896,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,595281,1.0,0.0,Right,Left,True,201500724.0,SL
950897,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,595281,1.0,0.0,Right,Left,True,201500724.0,FF
950898,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,542994,1.0,0.0,Right,Right,True,201500724.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950985,Miguel Gonzalez,1.0,0.0,2.0,2.0,3.0,0.0,0.0,0.0,542994,8.0,1.0,Right,Right,True,201500724.0,SL
950986,Miguel Gonzalez,1.0,1.0,2.0,2.0,4.0,0.0,0.0,0.0,542994,8.0,1.0,Right,Right,True,201500724.0,FF
950987,Miguel Gonzalez,1.0,1.0,2.0,2.0,5.0,0.0,0.0,0.0,542994,8.0,1.0,Right,Right,True,201500724.0,SL
950988,Miguel Gonzalez,1.0,2.0,2.0,2.0,6.0,0.0,0.0,0.0,542994,8.0,1.0,Right,Right,True,201500724.0,FF
950989,Miguel Gonzalez,1.0,2.0,2.0,2.0,7.0,0.0,0.0,0.0,542994,8.0,1.0,Right,Right,True,201500724.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1060611,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543807,1.0,0.0,Right,Right,False,201500783.0,SL
1060612,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,543807,1.0,0.0,Right,Right,False,201500783.0,FF
1060613,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,543807,1.0,0.0,Right,Right,False,201500783.0,FF
1060614,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,543807,1.0,0.0,Right,Right,False,201500783.0,CH
1060615,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,514888,1.0,0.0,Right,Right,False,201500783.0,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060705,Miguel Gonzalez,3.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,472528,7.0,1.0,Right,Left,False,201500783.0,SL
1060706,Miguel Gonzalez,3.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,472528,7.0,1.0,Right,Left,False,201500783.0,FF
1060707,Miguel Gonzalez,3.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,472528,7.0,1.0,Right,Left,False,201500783.0,CH
1060708,Miguel Gonzalez,3.0,2.0,2.0,1.0,5.0,0.0,0.0,0.0,472528,7.0,1.0,Right,Left,False,201500783.0,SL
1060709,Miguel Gonzalez,3.0,3.0,2.0,1.0,6.0,0.0,0.0,0.0,472528,7.0,1.0,Right,Left,False,201500783.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1153071,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,456030,1.0,0.0,Right,Right,True,201500863.0,FF
1153072,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,456030,1.0,0.0,Right,Right,True,201500863.0,FF
1153073,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,456030,1.0,0.0,Right,Right,True,201500863.0,CH
1153074,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,571788,1.0,0.0,Right,Left,True,201500863.0,FF
1153075,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,571788,1.0,0.0,Right,Left,True,201500863.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153155,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,456030,5.0,0.0,Right,Right,True,201500863.0,CH
1153156,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,456030,5.0,0.0,Right,Right,True,201500863.0,CH
1153157,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,1.0,0.0,456030,5.0,0.0,Right,Right,True,201500863.0,SL
1153158,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,1.0,0.0,456030,5.0,0.0,Right,Right,True,201500863.0,FT
1153159,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,1.0,0.0,456030,5.0,0.0,Right,Right,True,201500863.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1061174,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,False,201501086.0,FF
1061175,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,False,201501086.0,FT
1061176,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,571788,1.0,0.0,Right,Left,False,201501086.0,FF
1061177,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,571788,1.0,0.0,Right,Left,False,201501086.0,FF
1061178,Miguel Gonzalez,0.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,571788,1.0,0.0,Right,Left,False,201501086.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061257,Miguel Gonzalez,4.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,467055,5.0,6.0,Right,Left,False,201501086.0,FF
1061258,Miguel Gonzalez,4.0,0.0,2.0,2.0,3.0,0.0,0.0,0.0,467055,5.0,6.0,Right,Left,False,201501086.0,SL
1061259,Miguel Gonzalez,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,435063,6.0,7.0,Right,Right,False,201501086.0,CH
1061260,Miguel Gonzalez,4.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,435063,6.0,7.0,Right,Right,False,201501086.0,FF
1061261,Miguel Gonzalez,4.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,435063,6.0,7.0,Right,Right,False,201501086.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1021301,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,596059,1.0,0.0,Right,Left,True,201501161.0,FF
1021302,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,596059,1.0,0.0,Right,Left,True,201501161.0,FF
1021303,Miguel Gonzalez,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,596059,1.0,0.0,Right,Left,True,201501161.0,FF
1021304,Miguel Gonzalez,0.0,3.0,0.0,0.0,4.0,0.0,0.0,0.0,596059,1.0,0.0,Right,Left,True,201501161.0,FF
1021305,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,425783,1.0,0.0,Right,Left,True,201501161.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021381,Miguel Gonzalez,6.0,3.0,2.0,1.0,6.0,0.0,0.0,0.0,425902,5.0,4.0,Right,Left,True,201501161.0,FF
1021382,Miguel Gonzalez,6.0,3.0,2.0,1.0,7.0,0.0,0.0,0.0,425902,5.0,4.0,Right,Left,True,201501161.0,FF
1021383,Miguel Gonzalez,6.0,3.0,2.0,1.0,8.0,0.0,0.0,0.0,425902,5.0,4.0,Right,Left,True,201501161.0,FF
1021384,Miguel Gonzalez,6.0,3.0,2.0,1.0,9.0,0.0,0.0,0.0,425902,5.0,4.0,Right,Left,True,201501161.0,CU
1021385,Miguel Gonzalez,6.0,3.0,2.0,1.0,10.0,0.0,0.0,0.0,425902,5.0,4.0,Right,Left,True,201501161.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1544039,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,594809,1.0,1.0,Right,Left,False,201501221.0,FT
1544040,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,594809,1.0,1.0,Right,Left,False,201501221.0,CU
1544041,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,594809,1.0,1.0,Right,Left,False,201501221.0,FF
1544042,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,594809,1.0,1.0,Right,Left,False,201501221.0,FT
1544043,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,594809,1.0,1.0,Right,Left,False,201501221.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544130,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,1.0,0.0,0.0,466320,6.0,4.0,Right,Left,False,201501221.0,FF
1544131,Miguel Gonzalez,0.0,1.0,1.0,1.0,3.0,1.0,0.0,0.0,466320,6.0,4.0,Right,Left,False,201501221.0,FT
1544132,Miguel Gonzalez,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,425560,6.0,4.0,Right,Left,False,201501221.0,SL
1544133,Miguel Gonzalez,1.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,425560,6.0,4.0,Right,Left,False,201501221.0,FT
1544134,Miguel Gonzalez,1.0,2.0,0.0,2.0,3.0,0.0,0.0,0.0,425560,6.0,4.0,Right,Left,False,201501221.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1062102,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,572191,1.0,0.0,Right,Right,True,201501315.0,FF
1062103,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,572191,1.0,0.0,Right,Right,True,201501315.0,FT
1062104,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,572191,1.0,0.0,Right,Right,True,201501315.0,CU
1062105,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,572191,1.0,0.0,Right,Right,True,201501315.0,CU
1062106,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,572191,1.0,0.0,Right,Right,True,201501315.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062176,Miguel Gonzalez,3.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,467092,6.0,4.0,Right,Right,True,201501315.0,FF
1062177,Miguel Gonzalez,3.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,467092,6.0,4.0,Right,Right,True,201501315.0,CH
1062178,Miguel Gonzalez,3.0,2.0,1.0,0.0,4.0,1.0,0.0,0.0,467092,6.0,4.0,Right,Right,True,201501315.0,FT
1062179,Miguel Gonzalez,3.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,457787,6.0,4.0,Right,Left,True,201501315.0,FF
1062180,Miguel Gonzalez,3.0,0.0,1.0,0.0,2.0,1.0,1.0,0.0,457787,6.0,4.0,Right,Left,True,201501315.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
972832,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,435079,1.0,1.0,Right,Right,False,201501362.0,FF
972833,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,435079,1.0,1.0,Right,Right,False,201501362.0,FF
972834,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,543238,1.0,1.0,Right,Left,False,201501362.0,FF
972835,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,493316,1.0,1.0,Right,Right,False,201501362.0,FF
972836,Miguel Gonzalez,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,493316,1.0,1.0,Right,Right,False,201501362.0,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972917,Miguel Gonzalez,2.0,0.0,1.0,2.0,2.0,1.0,1.0,0.0,400121,5.0,7.0,Right,Left,False,201501362.0,FT
972918,Miguel Gonzalez,2.0,0.0,2.0,2.0,3.0,1.0,1.0,0.0,400121,5.0,7.0,Right,Left,False,201501362.0,FT
972919,Miguel Gonzalez,2.0,1.0,2.0,2.0,4.0,1.0,1.0,0.0,400121,5.0,7.0,Right,Left,False,201501362.0,FF
972920,Miguel Gonzalez,2.0,1.0,2.0,2.0,5.0,1.0,1.0,0.0,400121,5.0,7.0,Right,Left,False,201501362.0,FF
972921,Miguel Gonzalez,2.0,1.0,2.0,2.0,6.0,1.0,1.0,0.0,400121,5.0,7.0,Right,Left,False,201501362.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
956170,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,519306,1.0,0.0,Right,Right,False,201501444.0,FF
956171,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,444379,1.0,0.0,Right,Left,False,201501444.0,FF
956172,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,444379,1.0,0.0,Right,Left,False,201501444.0,FF
956173,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,446334,1.0,0.0,Right,Right,False,201501444.0,FF
956174,Miguel Gonzalez,0.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,446334,1.0,0.0,Right,Right,False,201501444.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956272,Miguel Gonzalez,1.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,519306,8.0,5.0,Right,Right,False,201501444.0,FF
956273,Miguel Gonzalez,1.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,519306,8.0,5.0,Right,Right,False,201501444.0,FF
956274,Miguel Gonzalez,1.0,2.0,2.0,1.0,5.0,0.0,0.0,0.0,519306,8.0,5.0,Right,Right,False,201501444.0,FF
956275,Miguel Gonzalez,1.0,2.0,2.0,1.0,6.0,0.0,0.0,0.0,519306,8.0,5.0,Right,Right,False,201501444.0,FF
956276,Miguel Gonzalez,1.0,2.0,2.0,1.0,7.0,0.0,0.0,0.0,519306,8.0,5.0,Right,Right,False,201501444.0,CU

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
973462,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,435079,1.0,0.0,Right,Right,True,201501518.0,FF
973463,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,435079,1.0,0.0,Right,Right,True,201501518.0,FF
973464,Miguel Gonzalez,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,435079,1.0,0.0,Right,Right,True,201501518.0,FF
973465,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,435079,1.0,0.0,Right,Right,True,201501518.0,SL
973466,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,578428,1.0,0.0,Right,Right,True,201501518.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973523,Miguel Gonzalez,2.0,1.0,0.0,0.0,2.0,1.0,1.0,0.0,461865,4.0,0.0,Right,Left,True,201501518.0,FF
973524,Miguel Gonzalez,2.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,434658,4.0,0.0,Right,Right,True,201501518.0,SL
973525,Miguel Gonzalez,4.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,435079,4.0,0.0,Right,Right,True,201501518.0,CH
973526,Miguel Gonzalez,4.0,0.0,1.0,1.0,2.0,0.0,0.0,1.0,435079,4.0,0.0,Right,Right,True,201501518.0,FF
973527,Miguel Gonzalez,4.0,1.0,1.0,1.0,3.0,0.0,0.0,1.0,435079,4.0,0.0,Right,Right,True,201501518.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
2998510,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,542993,1.0,0.0,Right,Left,False,201501581.0,FF
2998511,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,542993,1.0,0.0,Right,Left,False,201501581.0,FF
2998512,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,542993,1.0,0.0,Right,Left,False,201501581.0,CU
2998513,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,424825,1.0,0.0,Right,Left,False,201501581.0,FF
2998514,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,424825,1.0,0.0,Right,Left,False,201501581.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2998599,Miguel Gonzalez,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,477195,6.0,0.0,Right,Left,False,201501581.0,FF
2998600,Miguel Gonzalez,1.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,477195,6.0,0.0,Right,Left,False,201501581.0,FT
2998601,Miguel Gonzalez,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,543434,6.0,0.0,Right,Right,False,201501581.0,CU
2998602,Miguel Gonzalez,1.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,543434,6.0,0.0,Right,Right,False,201501581.0,FT
2998603,Miguel Gonzalez,1.0,0.0,2.0,1.0,3.0,0.0,1.0,0.0,543434,6.0,0.0,Right,Right,False,201501581.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
384909,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543213,1.0,2.0,Right,Right,False,201501650.0,FF
384910,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,543213,1.0,2.0,Right,Right,False,201501650.0,CU
384911,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,594777,1.0,2.0,Right,Left,False,201501650.0,FF
384912,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,594777,1.0,2.0,Right,Left,False,201501650.0,FT
384913,Miguel Gonzalez,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,545361,1.0,2.0,Right,Right,False,201501650.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385006,Miguel Gonzalez,4.0,2.0,0.0,1.0,3.0,0.0,0.0,0.0,405395,5.0,2.0,Right,Right,False,201501650.0,SL
385007,Miguel Gonzalez,4.0,2.0,1.0,1.0,4.0,0.0,0.0,0.0,405395,5.0,2.0,Right,Right,False,201501650.0,FF
385008,Miguel Gonzalez,4.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,461815,5.0,2.0,Right,Left,False,201501650.0,FF
385009,Miguel Gonzalez,4.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,461815,5.0,2.0,Right,Left,False,201501650.0,CU
385010,Miguel Gonzalez,4.0,0.0,2.0,2.0,3.0,0.0,0.0,0.0,461815,5.0,2.0,Right,Left,False,201501650.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
974804,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,542993,1.0,0.0,Right,Left,True,201501734.0,FF
974805,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,542993,1.0,0.0,Right,Left,True,201501734.0,FF
974806,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,592192,1.0,0.0,Right,Right,True,201501734.0,FT
974807,Miguel Gonzalez,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,502210,1.0,0.0,Right,Left,True,201501734.0,FF
974808,Miguel Gonzalez,1.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,502210,1.0,0.0,Right,Left,True,201501734.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974909,Miguel Gonzalez,3.0,3.0,2.0,0.0,6.0,0.0,0.0,0.0,543760,7.0,3.0,Right,Right,True,201501734.0,CU
974910,Miguel Gonzalez,3.0,3.0,2.0,0.0,7.0,0.0,0.0,0.0,543760,7.0,3.0,Right,Right,True,201501734.0,FF
974911,Miguel Gonzalez,3.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,453539,7.0,3.0,Right,Left,True,201501734.0,FT
974912,Miguel Gonzalez,3.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,542993,7.0,3.0,Right,Left,True,201501734.0,CU
974913,Miguel Gonzalez,3.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,542993,7.0,3.0,Right,Left,True,201501734.0,CU

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
3046802,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,621439,1.0,0.0,Right,Right,True,201501801.0,FF
3046803,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,621439,1.0,0.0,Right,Right,True,201501801.0,FF
3046804,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,621439,1.0,0.0,Right,Right,True,201501801.0,SL
3046805,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,621439,1.0,0.0,Right,Right,True,201501801.0,FT
3046806,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,572821,1.0,0.0,Right,Right,True,201501801.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3046893,Miguel Gonzalez,7.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,592696,5.0,0.0,Right,Left,True,201501801.0,CH
3046894,Miguel Gonzalez,7.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,592696,5.0,0.0,Right,Left,True,201501801.0,FT
3046895,Miguel Gonzalez,7.0,1.0,2.0,2.0,4.0,0.0,0.0,0.0,592696,5.0,0.0,Right,Left,True,201501801.0,FF
3046896,Miguel Gonzalez,7.0,2.0,2.0,2.0,5.0,0.0,0.0,0.0,592696,5.0,0.0,Right,Left,True,201501801.0,FF
3046897,Miguel Gonzalez,7.0,2.0,2.0,2.0,6.0,0.0,0.0,0.0,592696,5.0,0.0,Right,Left,True,201501801.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
976064,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,444876,1.0,0.0,Right,Right,False,201501863.0,FF
976065,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,450314,1.0,0.0,Right,Left,False,201501863.0,FT
976066,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,450314,1.0,0.0,Right,Left,False,201501863.0,CU
976067,Miguel Gonzalez,0.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,450314,1.0,0.0,Right,Left,False,201501863.0,FT
976068,Miguel Gonzalez,0.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,450314,1.0,0.0,Right,Left,False,201501863.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976151,Miguel Gonzalez,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,456715,5.0,2.0,Right,Right,False,201501863.0,FF
976152,Miguel Gonzalez,3.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,456715,5.0,2.0,Right,Right,False,201501863.0,FF
976153,Miguel Gonzalez,3.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,456715,5.0,2.0,Right,Right,False,201501863.0,SL
976154,Miguel Gonzalez,3.0,3.0,0.0,0.0,4.0,0.0,0.0,0.0,456715,5.0,2.0,Right,Right,False,201501863.0,FF
976155,Miguel Gonzalez,3.0,3.0,1.0,0.0,5.0,0.0,0.0,0.0,456715,5.0,2.0,Right,Right,False,201501863.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1154350,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,592261,1.0,0.0,Right,Right,False,201501934.0,FF
1154351,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,592261,1.0,0.0,Right,Right,False,201501934.0,CU
1154352,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,592261,1.0,0.0,Right,Right,False,201501934.0,FF
1154353,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,425783,1.0,0.0,Right,Left,False,201501934.0,FF
1154354,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,425902,1.0,0.0,Right,Left,False,201501934.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154448,Miguel Gonzalez,3.0,1.0,2.0,0.0,6.0,1.0,0.0,0.0,461416,6.0,0.0,Right,Left,False,201501934.0,CH
1154449,Miguel Gonzalez,3.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,460269,6.0,0.0,Right,Right,False,201501934.0,FT
1154450,Miguel Gonzalez,3.0,0.0,1.0,1.0,2.0,1.0,0.0,0.0,460269,6.0,0.0,Right,Right,False,201501934.0,SL
1154451,Miguel Gonzalez,3.0,1.0,1.0,1.0,3.0,1.0,0.0,0.0,460269,6.0,0.0,Right,Right,False,201501934.0,FF
1154452,Miguel Gonzalez,3.0,1.0,2.0,1.0,4.0,1.0,0.0,0.0,460269,6.0,0.0,Right,Right,False,201501934.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
2880826,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,519184,1.0,0.0,Right,Left,True,201502370.0,FF
2880827,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,519184,1.0,0.0,Right,Left,True,201502370.0,FF
2880828,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,519184,1.0,0.0,Right,Left,True,201502370.0,CH
2880829,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,519184,1.0,0.0,Right,Left,True,201502370.0,FF
2880830,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,518626,1.0,0.0,Right,Right,True,201502370.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2880896,Miguel Gonzalez,2.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,446381,4.0,0.0,Right,Right,True,201502370.0,SL
2880897,Miguel Gonzalez,2.0,0.0,1.0,2.0,2.0,1.0,0.0,0.0,446381,4.0,0.0,Right,Right,True,201502370.0,FF
2880898,Miguel Gonzalez,2.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,446381,4.0,0.0,Right,Right,True,201502370.0,CH
2880899,Miguel Gonzalez,2.0,2.0,1.0,2.0,4.0,1.0,0.0,0.0,446381,4.0,0.0,Right,Right,True,201502370.0,CU
2880900,Miguel Gonzalez,2.0,3.0,1.0,2.0,5.0,1.0,0.0,0.0,446381,4.0,0.0,Right,Right,True,201502370.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1549375,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,485567,1.0,1.0,Right,Left,False,201600279.0,FF
1549376,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,485567,1.0,1.0,Right,Left,False,201600279.0,CH
1549377,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,518626,1.0,1.0,Right,Right,False,201600279.0,SL
1549378,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,518626,1.0,1.0,Right,Right,False,201600279.0,CU
1549379,Miguel Gonzalez,0.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,518626,1.0,1.0,Right,Right,False,201600279.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549483,Miguel Gonzalez,5.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,489365,6.0,1.0,Right,Left,False,201600279.0,FT
1549484,Miguel Gonzalez,5.0,3.0,1.0,0.0,5.0,0.0,0.0,0.0,489365,6.0,1.0,Right,Left,False,201600279.0,FF
1549485,Miguel Gonzalez,5.0,3.0,2.0,0.0,6.0,0.0,0.0,0.0,489365,6.0,1.0,Right,Left,False,201600279.0,CU
1549486,Miguel Gonzalez,5.0,3.0,2.0,0.0,7.0,0.0,0.0,0.0,489365,6.0,1.0,Right,Left,False,201600279.0,FT
1549487,Miguel Gonzalez,5.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,485567,6.0,1.0,Right,Left,False,201600279.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
413489,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,596059,1.0,1.0,Right,Left,False,201600467.0,FF
413490,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,608577,1.0,1.0,Right,Left,False,201600467.0,FT
413491,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,608577,1.0,1.0,Right,Left,False,201600467.0,FT
413492,Miguel Gonzalez,0.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,608577,1.0,1.0,Right,Left,False,201600467.0,FF
413493,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,134181,1.0,1.0,Right,Right,False,201600467.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413556,Miguel Gonzalez,1.0,1.0,0.0,2.0,2.0,1.0,0.0,0.0,435622,6.0,2.0,Right,Right,False,201600467.0,CH
413557,Miguel Gonzalez,1.0,2.0,0.0,2.0,3.0,1.0,0.0,0.0,435622,6.0,2.0,Right,Right,False,201600467.0,FF
413558,Miguel Gonzalez,1.0,3.0,0.0,2.0,4.0,1.0,0.0,0.0,435622,6.0,2.0,Right,Right,False,201600467.0,FF
413559,Miguel Gonzalez,1.0,3.0,1.0,2.0,5.0,1.0,0.0,0.0,435622,6.0,2.0,Right,Right,False,201600467.0,FF
413560,Miguel Gonzalez,1.0,3.0,2.0,2.0,6.0,1.0,0.0,0.0,435622,6.0,2.0,Right,Right,False,201600467.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1104945,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,False,201600548.0,FF
1104946,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,False,201600548.0,FT
1104947,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,458731,1.0,0.0,Right,Left,False,201600548.0,FF
1104948,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,136860,1.0,0.0,Right,Left,False,201600548.0,FF
1104949,Miguel Gonzalez,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,407893,1.0,0.0,Right,Left,False,201600548.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105031,Miguel Gonzalez,3.0,1.0,0.0,2.0,2.0,0.0,1.0,0.0,554429,5.0,4.0,Right,Left,False,201600548.0,CH
1105032,Miguel Gonzalez,3.0,2.0,0.0,2.0,3.0,0.0,1.0,0.0,554429,5.0,4.0,Right,Left,False,201600548.0,FF
1105033,Miguel Gonzalez,3.0,2.0,1.0,2.0,4.0,0.0,1.0,0.0,554429,5.0,4.0,Right,Left,False,201600548.0,FT
1105034,Miguel Gonzalez,3.0,3.0,1.0,2.0,5.0,0.0,1.0,0.0,554429,5.0,4.0,Right,Left,False,201600548.0,FF
1105035,Miguel Gonzalez,3.0,3.0,2.0,2.0,6.0,0.0,1.0,0.0,554429,5.0,4.0,Right,Left,False,201600548.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1550338,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,444876,1.0,0.0,Right,Right,True,201600632.0,SL
1550339,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,444876,1.0,0.0,Right,Right,True,201600632.0,FF
1550340,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,444876,1.0,0.0,Right,Right,True,201600632.0,FF
1550341,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,444876,1.0,0.0,Right,Right,True,201600632.0,CH
1550342,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,444876,1.0,0.0,Right,Right,True,201600632.0,CH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550440,Miguel Gonzalez,2.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,460086,6.0,0.0,Right,Left,True,201600632.0,SL
1550441,Miguel Gonzalez,2.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,521692,6.0,0.0,Right,Right,True,201600632.0,SL
1550442,Miguel Gonzalez,2.0,1.0,0.0,2.0,2.0,1.0,0.0,0.0,521692,6.0,0.0,Right,Right,True,201600632.0,SL
1550443,Miguel Gonzalez,2.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,521692,6.0,0.0,Right,Right,True,201600632.0,FT
1550444,Miguel Gonzalez,2.0,1.0,2.0,2.0,4.0,1.0,0.0,0.0,521692,6.0,0.0,Right,Right,True,201600632.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1490525,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,444876,1.0,0.0,Right,Right,False,201600706.0,SL
1490526,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,593160,1.0,0.0,Right,Right,False,201600706.0,FF
1490527,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,593160,1.0,0.0,Right,Right,False,201600706.0,SL
1490528,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,593160,1.0,0.0,Right,Right,False,201600706.0,FT
1490529,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,456715,1.0,0.0,Right,Right,False,201600706.0,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490600,Miguel Gonzalez,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,596144,7.0,5.0,Right,Right,False,201600706.0,FF
1490601,Miguel Gonzalez,2.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,596144,7.0,5.0,Right,Right,False,201600706.0,SL
1490602,Miguel Gonzalez,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,518649,7.0,5.0,Right,Right,False,201600706.0,SL
1490603,Miguel Gonzalez,2.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,518649,7.0,5.0,Right,Right,False,201600706.0,FT
1490604,Miguel Gonzalez,2.0,2.0,0.0,1.0,3.0,0.0,0.0,0.0,518649,7.0,5.0,Right,Right,False,201600706.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1551507,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,434158,1.0,0.0,Right,Left,False,201600781.0,FT
1551508,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,434158,1.0,0.0,Right,Left,False,201600781.0,FF
1551509,Miguel Gonzalez,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,434158,1.0,0.0,Right,Left,False,201600781.0,FT
1551510,Miguel Gonzalez,0.0,3.0,0.0,0.0,4.0,0.0,0.0,0.0,434158,1.0,0.0,Right,Left,False,201600781.0,FT
1551511,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,452678,1.0,0.0,Right,Left,False,201600781.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1551584,Miguel Gonzalez,1.0,2.0,2.0,0.0,6.0,1.0,0.0,0.0,434158,5.0,0.0,Right,Left,False,201600781.0,CH
1551585,Miguel Gonzalez,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,452678,5.0,0.0,Right,Left,False,201600781.0,CU
1551586,Miguel Gonzalez,1.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,452678,5.0,0.0,Right,Left,False,201600781.0,CH
1551587,Miguel Gonzalez,1.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,452678,5.0,0.0,Right,Left,False,201600781.0,CH
1551588,Miguel Gonzalez,1.0,1.0,2.0,2.0,4.0,0.0,0.0,0.0,452678,5.0,0.0,Right,Left,False,201600781.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1551938,Miguel Gonzalez,5.0,0.0,0.0,2.0,1.0,0.0,1.0,1.0,543510,5.0,1.0,Right,Right,False,201600838.0,FT
1551939,Miguel Gonzalez,5.0,0.0,1.0,2.0,2.0,0.0,1.0,1.0,543510,5.0,1.0,Right,Right,False,201600838.0,SL
1551940,Miguel Gonzalez,5.0,1.0,1.0,2.0,3.0,0.0,1.0,1.0,543510,5.0,1.0,Right,Right,False,201600838.0,SL
1551941,Miguel Gonzalez,5.0,1.0,2.0,2.0,4.0,0.0,1.0,1.0,543510,5.0,1.0,Right,Right,False,201600838.0,SL
1551942,Miguel Gonzalez,5.0,1.0,2.0,2.0,5.0,0.0,1.0,1.0,543510,5.0,1.0,Right,Right,False,201600838.0,CH
1551943,Miguel Gonzalez,5.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,578428,6.0,2.0,Right,Right,False,201600838.0,SL
1551944,Miguel Gonzalez,5.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,578428,6.0,2.0,Right,Right,False,201600838.0,SL
1551945,Miguel Gonzalez,5.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,578428,6.0,2.0,Right,Right,False,201600838.0,CH
1551946,Miguel Gonzalez,5.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,578428,6.0,2.0,Right,Right,False,201600838.0,FT
1551947,Miguel Gonzalez,5.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,578428,6.0,2.0,Right,Right,False,201600838.0,CH
1551948,Miguel Gonzalez,5.0,2.0,2.0,0.0,6.0,0.0,0.0,0.0,578428,6.0,2.0,Right,Right,False,201600838.0,FF
1551949,Miguel Gonzalez,5.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,435079,6.0,2.0,Right,Right,False,201600838.0,FF
1551950,Miguel Gonzalez,5.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,435079,6.0,2.0,Right,Right,False,201600838.0,FT
1551951,Miguel Gonzalez,5.0,0.0,2.0,0.0,3.0,1.0,0.0,0.0,435079,6.0,2.0,Right,Right,False,201600838.0,SL
1551952,Miguel Gonzalez,5.0,1.0,2.0,0.0,4.0,0.0,1.0,0.0,435079,6.0,2.0,Right,Right,False,201600838.0,CH
1551953,Miguel Gonzalez,5.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,457727,6.0,2.0,Right,Right,False,201600838.0,CU
1551954,Miguel Gonzalez,5.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,457727,6.0,2.0,Right,Right,False,201600838.0,FT
1551955,Miguel Gonzalez,5.0,1.0,1.0,1.0,3.0,0.0,1.0,0.0,457727,6.0,2.0,Right,Right,False,201600838.0,CH
1551956,Miguel Gonzalez,5.0,2.0,1.0,1.0,4.0,0.0,1.0,0.0,457727,6.0,2.0,Right,Right,False,201600838.0,SL
1551957,Miguel Gonzalez,5.0,3.0,1.0,1.0,5.0,0.0,1.0,0.0,457727,6.0,2.0,Right,Right,False,201600838.0,FF
1551958,Miguel Gonzalez,5.0,0.0,0.0,2.0,1.0,0.0,0.0,1.0,408234,6.0,2.0,Right,Right,False,201600838.0,SL
1551959,Miguel Gonzalez,5.0,0.0,1.0,2.0,2.0,0.0,0.0,1.0,408234,6.0,2.0,Right,Right,False,201600838.0,SL
1551960,Miguel Gonzalez,5.0,0.0,2.0,2.0,3.0,0.0,0.0,1.0,408234,6.0,2.0,Right,Right,False,201600838.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
2338737,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,502317,1.0,0.0,Right,Right,True,201600898.0,FF
2338738,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,502317,1.0,0.0,Right,Right,True,201600898.0,FF
2338739,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,502317,1.0,0.0,Right,Right,True,201600898.0,FT
2338740,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,502317,1.0,0.0,Right,Right,True,201600898.0,FT
2338741,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,150029,1.0,0.0,Right,Right,True,201600898.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2338810,Miguel Gonzalez,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,502317,6.0,3.0,Right,Right,True,201600898.0,CH
2338811,Miguel Gonzalez,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,150029,6.0,3.0,Right,Right,True,201600898.0,SL
2338812,Miguel Gonzalez,1.0,1.0,0.0,1.0,2.0,1.0,1.0,0.0,150029,6.0,3.0,Right,Right,True,201600898.0,FF
2338813,Miguel Gonzalez,1.0,1.0,1.0,1.0,3.0,1.0,1.0,0.0,150029,6.0,3.0,Right,Right,True,201600898.0,FF
2338814,Miguel Gonzalez,1.0,1.0,2.0,1.0,4.0,1.0,1.0,0.0,150029,6.0,3.0,Right,Right,True,201600898.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1553678,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,435079,1.0,0.0,Right,Right,True,201600958.0,FF
1553679,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,435079,1.0,0.0,Right,Right,True,201600958.0,FF
1553680,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,578428,1.0,0.0,Right,Right,True,201600958.0,FT
1553681,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,578428,1.0,0.0,Right,Right,True,201600958.0,FF
1553682,Miguel Gonzalez,0.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,578428,1.0,0.0,Right,Right,True,201600958.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1553764,Miguel Gonzalez,6.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,578428,4.0,2.0,Right,Right,True,201600958.0,FF
1553765,Miguel Gonzalez,6.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,578428,4.0,2.0,Right,Right,True,201600958.0,CH
1553766,Miguel Gonzalez,6.0,3.0,2.0,0.0,6.0,0.0,0.0,0.0,578428,4.0,2.0,Right,Right,True,201600958.0,FF
1553767,Miguel Gonzalez,6.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,408234,4.0,2.0,Right,Right,True,201600958.0,SL
1553768,Miguel Gonzalez,6.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,408234,4.0,2.0,Right,Right,True,201600958.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
2922767,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,False,201601042.0,FF
2922768,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,False,201601042.0,FF
2922769,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,False,201601042.0,FF
2922770,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,False,201601042.0,CH
2922771,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,593428,1.0,0.0,Right,Right,False,201601042.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922859,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,543877,7.0,1.0,Right,Right,False,201601042.0,SL
2922860,Miguel Gonzalez,0.0,1.0,0.0,2.0,2.0,1.0,1.0,0.0,543877,7.0,1.0,Right,Right,False,201601042.0,FF
2922861,Miguel Gonzalez,0.0,1.0,1.0,2.0,3.0,1.0,1.0,0.0,543877,7.0,1.0,Right,Right,False,201601042.0,CH
2922862,Miguel Gonzalez,0.0,2.0,1.0,2.0,4.0,1.0,1.0,0.0,543877,7.0,1.0,Right,Right,False,201601042.0,SL
2922863,Miguel Gonzalez,0.0,2.0,2.0,2.0,5.0,1.0,1.0,0.0,543877,7.0,1.0,Right,Right,False,201601042.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
866446,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,485567,1.0,0.0,Right,Left,True,201601117.0,SL
866447,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,485567,1.0,0.0,Right,Left,True,201601117.0,FF
866448,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,485567,1.0,0.0,Right,Left,True,201601117.0,SL
866449,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,485567,1.0,0.0,Right,Left,True,201601117.0,FF
866450,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,485567,1.0,0.0,Right,Left,True,201601117.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866522,Miguel Gonzalez,8.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,489365,6.0,4.0,Right,Left,True,201601117.0,CH
866523,Miguel Gonzalez,8.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,489365,6.0,4.0,Right,Left,True,201601117.0,SL
866524,Miguel Gonzalez,8.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,485567,6.0,4.0,Right,Left,True,201601117.0,CU
866525,Miguel Gonzalez,8.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,485567,6.0,4.0,Right,Left,True,201601117.0,SL
866526,Miguel Gonzalez,8.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,485567,6.0,4.0,Right,Left,True,201601117.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1760517,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543807,1.0,0.0,Right,Right,False,201601188.0,SL
1760518,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,543807,1.0,0.0,Right,Right,False,201601188.0,SL
1760519,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,472528,1.0,0.0,Right,Left,False,201601188.0,FF
1760520,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,472528,1.0,0.0,Right,Left,False,201601188.0,SL
1760521,Miguel Gonzalez,0.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,472528,1.0,0.0,Right,Left,False,201601188.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1760604,Miguel Gonzalez,3.0,2.0,2.0,2.0,5.0,0.0,0.0,0.0,607223,7.0,0.0,Right,Left,False,201601188.0,SL
1760605,Miguel Gonzalez,3.0,2.0,2.0,2.0,6.0,0.0,0.0,0.0,607223,7.0,0.0,Right,Left,False,201601188.0,FF
1760606,Miguel Gonzalez,3.0,3.0,2.0,2.0,7.0,0.0,0.0,0.0,607223,7.0,0.0,Right,Left,False,201601188.0,SL
1760607,Miguel Gonzalez,3.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,488771,7.0,0.0,Right,Left,False,201601188.0,FF
1760608,Miguel Gonzalez,3.0,1.0,0.0,2.0,2.0,1.0,0.0,0.0,488771,7.0,0.0,Right,Left,False,201601188.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
3047105,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,True,201601270.0,FF
3047106,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,True,201601270.0,FF
3047107,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,True,201601270.0,SL
3047108,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,True,201601270.0,SL
3047109,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,True,201601270.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3047202,Miguel Gonzalez,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,544369,7.0,5.0,Right,Left,True,201601270.0,SL
3047203,Miguel Gonzalez,0.0,0.0,2.0,2.0,3.0,0.0,0.0,0.0,544369,7.0,5.0,Right,Left,True,201601270.0,FT
3047204,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,452104,7.0,5.0,Right,Left,True,201601270.0,CH
3047205,Miguel Gonzalez,0.0,0.0,1.0,2.0,2.0,0.0,1.0,0.0,452104,7.0,5.0,Right,Left,True,201601270.0,FF
3047206,Miguel Gonzalez,0.0,1.0,1.0,2.0,3.0,0.0,1.0,0.0,452104,7.0,5.0,Right,Left,True,201601270.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
499983,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,488862,1.0,0.0,Right,Right,False,201601334.0,FF
499984,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,488862,1.0,0.0,Right,Right,False,201601334.0,FF
499985,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,594777,1.0,0.0,Right,Left,False,201601334.0,FF
499986,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,594777,1.0,0.0,Right,Left,False,201601334.0,CH
499987,Miguel Gonzalez,0.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,594777,1.0,0.0,Right,Left,False,201601334.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500074,Miguel Gonzalez,2.0,1.0,2.0,0.0,5.0,0.0,0.0,0.0,537953,7.0,0.0,Right,Left,False,201601334.0,FT
500075,Miguel Gonzalez,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,543213,7.0,0.0,Right,Right,False,201601334.0,SL
500076,Miguel Gonzalez,2.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,543213,7.0,0.0,Right,Right,False,201601334.0,FF
500077,Miguel Gonzalez,2.0,1.0,1.0,0.0,3.0,0.0,1.0,0.0,543213,7.0,0.0,Right,Right,False,201601334.0,FF
500078,Miguel Gonzalez,2.0,2.0,1.0,0.0,4.0,0.0,1.0,0.0,543213,7.0,0.0,Right,Right,False,201601334.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
360250,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,493114,1.0,3.0,Right,Left,False,201601404.0,FT
360251,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,493114,1.0,3.0,Right,Left,False,201601404.0,SL
360252,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,493114,1.0,3.0,Right,Left,False,201601404.0,FT
360253,Miguel Gonzalez,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,493114,1.0,3.0,Right,Left,False,201601404.0,FF
360254,Miguel Gonzalez,0.0,1.0,2.0,0.0,5.0,0.0,0.0,0.0,493114,1.0,3.0,Right,Left,False,201601404.0,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360335,Miguel Gonzalez,2.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,452252,7.0,5.0,Right,Left,False,201601404.0,SL
360336,Miguel Gonzalez,2.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,452252,7.0,5.0,Right,Left,False,201601404.0,CU
360337,Miguel Gonzalez,2.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,452252,7.0,5.0,Right,Left,False,201601404.0,CH
360338,Miguel Gonzalez,2.0,3.0,1.0,0.0,5.0,0.0,0.0,0.0,452252,7.0,5.0,Right,Left,False,201601404.0,SL
360339,Miguel Gonzalez,2.0,3.0,2.0,0.0,6.0,0.0,0.0,0.0,452252,7.0,5.0,Right,Left,False,201601404.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1555899,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,451594,1.0,0.0,Right,Left,True,201601474.0,FF
1555900,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,451594,1.0,0.0,Right,Left,True,201601474.0,CU
1555901,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,451594,1.0,0.0,Right,Left,True,201601474.0,CH
1555902,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,592178,1.0,0.0,Right,Right,True,201601474.0,FF
1555903,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,519203,1.0,0.0,Right,Left,True,201601474.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555998,Miguel Gonzalez,2.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,451594,7.0,4.0,Right,Left,True,201601474.0,SL
1555999,Miguel Gonzalez,2.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,451594,7.0,4.0,Right,Left,True,201601474.0,CU
1556000,Miguel Gonzalez,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,592178,7.0,4.0,Right,Right,True,201601474.0,CH
1556001,Miguel Gonzalez,2.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,592178,7.0,4.0,Right,Right,True,201601474.0,CU
1556002,Miguel Gonzalez,2.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,592178,7.0,4.0,Right,Right,True,201601474.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1556549,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543257,1.0,0.0,Right,Left,False,201601540.0,FF
1556550,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,543257,1.0,0.0,Right,Left,False,201601540.0,FF
1556551,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,543257,1.0,0.0,Right,Left,False,201601540.0,FF
1556552,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,543257,1.0,0.0,Right,Left,False,201601540.0,CH
1556553,Miguel Gonzalez,0.0,1.0,2.0,0.0,5.0,0.0,0.0,0.0,543257,1.0,0.0,Right,Left,False,201601540.0,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556658,Miguel Gonzalez,2.0,1.0,0.0,2.0,2.0,0.0,1.0,0.0,543257,7.0,4.0,Right,Left,False,201601540.0,CH
1556659,Miguel Gonzalez,2.0,1.0,1.0,2.0,3.0,0.0,1.0,0.0,543257,7.0,4.0,Right,Left,False,201601540.0,SL
1556660,Miguel Gonzalez,2.0,2.0,1.0,2.0,4.0,0.0,1.0,0.0,543257,7.0,4.0,Right,Left,False,201601540.0,SL
1556661,Miguel Gonzalez,2.0,3.0,1.0,2.0,5.0,0.0,1.0,0.0,543257,7.0,4.0,Right,Left,False,201601540.0,CH
1556662,Miguel Gonzalez,2.0,3.0,2.0,2.0,6.0,0.0,1.0,0.0,543257,7.0,4.0,Right,Left,False,201601540.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
985455,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,430945,1.0,0.0,Right,Right,True,201601619.0,FT
985456,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,430945,1.0,0.0,Right,Right,True,201601619.0,CU
985457,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,430945,1.0,0.0,Right,Right,True,201601619.0,CH
985458,Miguel Gonzalez,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,430945,1.0,0.0,Right,Right,True,201601619.0,FT
985459,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,547957,1.0,0.0,Right,Left,True,201601619.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985545,Miguel Gonzalez,4.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,570731,6.0,2.0,Right,Right,True,201601619.0,FT
985546,Miguel Gonzalez,4.0,0.0,1.0,1.0,2.0,1.0,0.0,0.0,570731,6.0,2.0,Right,Right,True,201601619.0,FT
985547,Miguel Gonzalez,4.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,429666,6.0,2.0,Right,Right,True,201601619.0,FF
985548,Miguel Gonzalez,4.0,0.0,1.0,2.0,2.0,1.0,0.0,0.0,429666,6.0,2.0,Right,Right,True,201601619.0,CU
985549,Miguel Gonzalez,4.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,429666,6.0,2.0,Right,Right,True,201601619.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
3047366,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,502481,1.0,0.0,Right,Left,False,201601704.0,FF
3047367,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,502481,1.0,0.0,Right,Left,False,201601704.0,CU
3047368,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,502481,1.0,0.0,Right,Left,False,201601704.0,FF
3047369,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,502481,1.0,0.0,Right,Left,False,201601704.0,CH
3047370,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,449181,1.0,0.0,Right,Right,False,201601704.0,FF
3047371,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,449181,1.0,0.0,Right,Right,False,201601704.0,FF
3047372,Miguel Gonzalez,0.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,449181,1.0,0.0,Right,Right,False,201601704.0,FF
3047373,Miguel Gonzalez,0.0,2.0,1.0,1.0,4.0,0.0,0.0,0.0,449181,1.0,0.0,Right,Right,False,201601704.0,SL
3047374,Miguel Gonzalez,0.0,2.0,2.0,1.0,5.0,0.0,0.0,0.0,449181,1.0,0.0,Right,Right,False,201601704.0,SL
3047375,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,596144,1.0,0.0,Right,Right,False,201601704.0,SL
3047376,Miguel Gonzalez,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,596144,1.0,0.0,Right,Right,False,201601704.0,FT
3047377,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,543333,1.0,0.0,Right,Left,False,201601704.0,FF
3047378,Miguel Gonzalez,0.0,0.0,1.0,2.0,2.0,1.0,0.0,0.0,543333,1.0,0.0,Right,Left,False,201601704.0,SL
3047379,Miguel Gonzalez,0.0,0.0,2.0,2.0,3.0,1.0,0.0,0.0,543333,1.0,0.0,Right,Left,False,201601704.0,SL
3047380,Miguel Gonzalez,0.0,1.0,2.0,2.0,4.0,1.0,0.0,0.0,543333,1.0,0.0,Right,Left,False,201601704.0,CH

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1559446,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,457727,1.0,0.0,Right,Right,True,201602061.0,FF
1559447,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,457727,1.0,0.0,Right,Right,True,201602061.0,FT
1559448,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,457727,1.0,0.0,Right,Right,True,201602061.0,FF
1559449,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,457727,1.0,0.0,Right,Right,True,201602061.0,CU
1559450,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,457727,1.0,0.0,Right,Right,True,201602061.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1559532,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,457708,7.0,2.0,Right,Right,True,201602061.0,SL
1559533,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,457708,7.0,2.0,Right,Right,True,201602061.0,FT
1559534,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,1.0,0.0,0.0,457708,7.0,2.0,Right,Right,True,201602061.0,CU
1559535,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,431171,7.0,2.0,Right,Right,True,201602061.0,SL
1559536,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,1.0,0.0,0.0,431171,7.0,2.0,Right,Right,True,201602061.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1559711,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,467793,1.0,0.0,Right,Left,True,201602139.0,FF
1559712,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,467793,1.0,0.0,Right,Left,True,201602139.0,FF
1559713,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,467793,1.0,0.0,Right,Left,True,201602139.0,FF
1559714,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,467793,1.0,0.0,Right,Left,True,201602139.0,CH
1559715,Miguel Gonzalez,0.0,3.0,1.0,0.0,5.0,0.0,0.0,0.0,467793,1.0,0.0,Right,Left,True,201602139.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1559802,Miguel Gonzalez,3.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,424825,7.0,7.0,Right,Left,True,201602139.0,FT
1559803,Miguel Gonzalez,3.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,424825,7.0,7.0,Right,Left,True,201602139.0,SL
1559804,Miguel Gonzalez,3.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,424825,7.0,7.0,Right,Left,True,201602139.0,FT
1559805,Miguel Gonzalez,3.0,1.0,2.0,1.0,5.0,0.0,0.0,0.0,424825,7.0,7.0,Right,Left,True,201602139.0,CH
1559806,Miguel Gonzalez,3.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,467793,7.0,7.0,Right,Left,True,201602139.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1560374,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,502481,1.0,1.0,Right,Left,False,201602207.0,SL
1560375,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,502481,1.0,1.0,Right,Left,False,201602207.0,FF
1560376,Miguel Gonzalez,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,502481,1.0,1.0,Right,Left,False,201602207.0,FF
1560377,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,502481,1.0,1.0,Right,Left,False,201602207.0,CH
1560378,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,502481,1.0,1.0,Right,Left,False,201602207.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560463,Miguel Gonzalez,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,596144,7.0,1.0,Right,Right,False,201602207.0,SL
1560464,Miguel Gonzalez,3.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,596144,7.0,1.0,Right,Right,False,201602207.0,CU
1560465,Miguel Gonzalez,3.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,596144,7.0,1.0,Right,Right,False,201602207.0,SL
1560466,Miguel Gonzalez,3.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,641531,7.0,1.0,Right,Right,False,201602207.0,FT
1560467,Miguel Gonzalez,3.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,502481,7.0,1.0,Right,Left,False,201602207.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1560610,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,467793,1.0,2.0,Right,Left,False,201602293.0,FF
1560611,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,467793,1.0,2.0,Right,Left,False,201602293.0,FT
1560612,Miguel Gonzalez,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,467793,1.0,2.0,Right,Left,False,201602293.0,FF
1560613,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,467793,1.0,2.0,Right,Left,False,201602293.0,CH
1560614,Miguel Gonzalez,0.0,3.0,1.0,0.0,5.0,0.0,0.0,0.0,467793,1.0,2.0,Right,Left,False,201602293.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560693,Miguel Gonzalez,2.0,2.0,1.0,0.0,4.0,1.0,1.0,0.0,596019,5.0,4.0,Right,Left,False,201602293.0,SL
1560694,Miguel Gonzalez,2.0,2.0,2.0,0.0,5.0,1.0,1.0,0.0,596019,5.0,4.0,Right,Left,False,201602293.0,CH
1560695,Miguel Gonzalez,2.0,3.0,2.0,0.0,6.0,0.0,1.0,1.0,596019,5.0,4.0,Right,Left,False,201602293.0,SL
1560696,Miguel Gonzalez,3.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,435063,5.0,4.0,Right,Right,False,201602293.0,SL
1560697,Miguel Gonzalez,3.0,0.0,1.0,1.0,2.0,0.0,0.0,1.0,435063,5.0,4.0,Right,Right,False,201602293.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
436298,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,523253,1.0,0.0,Right,Right,True,201602372.0,FF
436299,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,523253,1.0,0.0,Right,Right,True,201602372.0,FF
436300,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,523253,1.0,0.0,Right,Right,True,201602372.0,FF
436301,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,523253,1.0,0.0,Right,Right,True,201602372.0,SL
436302,Miguel Gonzalez,0.0,1.0,2.0,0.0,5.0,0.0,0.0,0.0,523253,1.0,0.0,Right,Right,True,201602372.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436395,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,523253,9.0,1.0,Right,Right,True,201602372.0,SL
436396,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,523253,9.0,1.0,Right,Right,True,201602372.0,SL
436397,Miguel Gonzalez,0.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,523253,9.0,1.0,Right,Right,True,201602372.0,CH
436398,Miguel Gonzalez,0.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,523253,9.0,1.0,Right,Right,True,201602372.0,CH
436399,Miguel Gonzalez,0.0,2.0,2.0,1.0,5.0,0.0,0.0,0.0,523253,9.0,1.0,Right,Right,True,201602372.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1561865,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,572821,1.0,0.0,Right,Right,True,201700072.0,FF
1561866,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,596146,1.0,0.0,Right,Left,True,201700072.0,FT
1561867,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,596146,1.0,0.0,Right,Left,True,201700072.0,FF
1561868,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,593934,1.0,0.0,Right,Right,True,201700072.0,SL
1561869,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,1.0,1.0,0.0,593934,1.0,0.0,Right,Right,True,201700072.0,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1561949,Miguel Gonzalez,2.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,621439,6.0,3.0,Right,Right,True,201700072.0,SL
1561950,Miguel Gonzalez,2.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,621439,6.0,3.0,Right,Right,True,201700072.0,FS
1561951,Miguel Gonzalez,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,592696,6.0,3.0,Right,Left,True,201700072.0,FT
1561952,Miguel Gonzalez,2.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,500871,6.0,3.0,Right,Left,True,201700072.0,FT
1561953,Miguel Gonzalez,2.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,500871,6.0,3.0,Right,Left,True,201700072.0,FS

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1562768,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,467793,1.0,5.0,Right,Left,False,201700132.0,FF
1562769,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,467793,1.0,5.0,Right,Left,False,201700132.0,FT
1562770,Miguel Gonzalez,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,467793,1.0,5.0,Right,Left,False,201700132.0,FF
1562771,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,596019,1.0,5.0,Right,Left,False,201700132.0,CU
1562772,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,596019,1.0,5.0,Right,Left,False,201700132.0,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562864,Miguel Gonzalez,2.0,1.0,0.0,2.0,2.0,1.0,0.0,0.0,502082,5.0,7.0,Right,Left,False,201700132.0,FT
1562865,Miguel Gonzalez,2.0,2.0,0.0,2.0,3.0,1.0,0.0,0.0,502082,5.0,7.0,Right,Left,False,201700132.0,FF
1562866,Miguel Gonzalez,3.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,650490,5.0,7.0,Right,Right,False,201700132.0,CU
1562867,Miguel Gonzalez,3.0,1.0,0.0,2.0,2.0,0.0,1.0,0.0,650490,5.0,7.0,Right,Right,False,201700132.0,FF
1562868,Miguel Gonzalez,3.0,2.0,0.0,2.0,3.0,0.0,1.0,0.0,650490,5.0,7.0,Right,Right,False,201700132.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
3047585,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,458731,1.0,0.0,Right,Left,False,201700200.0,FF
3047586,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,458731,1.0,0.0,Right,Left,False,201700200.0,SL
3047587,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,False,201700200.0,FF
3047588,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,453056,1.0,0.0,Right,Left,False,201700200.0,FT
3047589,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,407812,1.0,0.0,Right,Right,False,201700200.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3047668,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,474892,9.0,4.0,Right,Right,False,201700200.0,FT
3047669,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,458731,9.0,4.0,Right,Left,False,201700200.0,SL
3047670,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,0.0,1.0,0.0,458731,9.0,4.0,Right,Left,False,201700200.0,FT
3047671,Miguel Gonzalez,0.0,2.0,0.0,1.0,3.0,0.0,1.0,0.0,458731,9.0,4.0,Right,Left,False,201700200.0,FF
3047672,Miguel Gonzalez,0.0,3.0,0.0,1.0,4.0,0.0,1.0,0.0,458731,9.0,4.0,Right,Left,False,201700200.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1500781,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,593160,1.0,0.0,Right,Right,True,201700283.0,FF
1500782,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,593160,1.0,0.0,Right,Right,True,201700283.0,SL
1500783,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,593160,1.0,0.0,Right,Right,True,201700283.0,FS
1500784,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,519058,1.0,0.0,Right,Left,True,201700283.0,FF
1500785,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,456715,1.0,0.0,Right,Right,True,201700283.0,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1500881,Miguel Gonzalez,1.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,593160,8.0,12.0,Right,Right,True,201700283.0,SL
1500882,Miguel Gonzalez,1.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,593160,8.0,12.0,Right,Right,True,201700283.0,SL
1500883,Miguel Gonzalez,1.0,2.0,1.0,2.0,4.0,0.0,0.0,0.0,593160,8.0,12.0,Right,Right,True,201700283.0,FT
1500884,Miguel Gonzalez,1.0,2.0,2.0,2.0,5.0,0.0,0.0,0.0,593160,8.0,12.0,Right,Right,True,201700283.0,FT
1500885,Miguel Gonzalez,1.0,2.0,2.0,2.0,6.0,0.0,0.0,0.0,593160,8.0,12.0,Right,Right,True,201700283.0,CU

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
2878133,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,435079,1.0,1.0,Right,Right,False,201700358.0,FF
2878134,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,435079,1.0,1.0,Right,Right,False,201700358.0,SL
2878135,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,607385,1.0,1.0,Right,Left,False,201700358.0,SL
2878136,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,607385,1.0,1.0,Right,Left,False,201700358.0,CU
2878137,Miguel Gonzalez,0.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,607385,1.0,1.0,Right,Left,False,201700358.0,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2878229,Miguel Gonzalez,7.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,592206,6.0,3.0,Right,Right,False,201700358.0,CU
2878230,Miguel Gonzalez,7.0,2.0,0.0,2.0,3.0,0.0,0.0,0.0,592206,6.0,3.0,Right,Right,False,201700358.0,SL
2878231,Miguel Gonzalez,7.0,2.0,1.0,2.0,4.0,0.0,0.0,0.0,592206,6.0,3.0,Right,Right,False,201700358.0,CU
2878232,Miguel Gonzalez,7.0,2.0,2.0,2.0,5.0,0.0,0.0,0.0,592206,6.0,3.0,Right,Right,False,201700358.0,FT
2878233,Miguel Gonzalez,7.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,400121,6.0,3.0,Right,Left,False,201700358.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
989700,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,452234,1.0,0.0,Right,Left,False,201700423.0,FF
989701,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,452234,1.0,0.0,Right,Left,False,201700423.0,FF
989702,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,452234,1.0,0.0,Right,Left,False,201700423.0,FS
989703,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,452234,1.0,0.0,Right,Left,False,201700423.0,FF
989704,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,452234,1.0,0.0,Right,Left,False,201700423.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989798,Miguel Gonzalez,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543376,7.0,0.0,Right,Right,False,201700423.0,SL
989799,Miguel Gonzalez,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,452234,7.0,0.0,Right,Left,False,201700423.0,FF
989800,Miguel Gonzalez,2.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,452234,7.0,0.0,Right,Left,False,201700423.0,FF
989801,Miguel Gonzalez,2.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,452234,7.0,0.0,Right,Left,False,201700423.0,SL
989802,Miguel Gonzalez,2.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,452234,7.0,0.0,Right,Left,False,201700423.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1109663,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,519333,1.0,0.0,Right,Right,True,201700524.0,FF
1109664,Miguel Gonzalez,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,605486,1.0,0.0,Right,Left,True,201700524.0,FT
1109665,Miguel Gonzalez,1.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,605486,1.0,0.0,Right,Left,True,201700524.0,SL
1109666,Miguel Gonzalez,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,571976,1.0,0.0,Right,Right,True,201700524.0,CU
1109667,Miguel Gonzalez,1.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,571976,1.0,0.0,Right,Right,True,201700524.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109753,Miguel Gonzalez,5.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,519333,5.0,2.0,Right,Right,True,201700524.0,FF
1109754,Miguel Gonzalez,5.0,1.0,0.0,2.0,2.0,1.0,1.0,0.0,519333,5.0,2.0,Right,Right,True,201700524.0,CU
1109755,Miguel Gonzalez,5.0,1.0,1.0,2.0,3.0,1.0,1.0,0.0,519333,5.0,2.0,Right,Right,True,201700524.0,FT
1109756,Miguel Gonzalez,5.0,1.0,2.0,2.0,4.0,1.0,1.0,0.0,519333,5.0,2.0,Right,Right,True,201700524.0,FF
1109757,Miguel Gonzalez,5.0,2.0,2.0,2.0,5.0,1.0,1.0,0.0,519333,5.0,2.0,Right,Right,True,201700524.0,FS

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
3015321,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,457727,1.0,2.0,Right,Right,False,201700583.0,FT
3015322,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,457727,1.0,2.0,Right,Right,False,201700583.0,CU
3015323,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,545361,1.0,2.0,Right,Right,False,201700583.0,FF
3015324,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,405395,1.0,2.0,Right,Right,False,201700583.0,FF
3015325,Miguel Gonzalez,0.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,405395,1.0,2.0,Right,Right,False,201700583.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3015412,Miguel Gonzalez,4.0,1.0,2.0,0.0,5.0,0.0,0.0,0.0,519184,6.0,4.0,Right,Left,False,201700583.0,FT
3015413,Miguel Gonzalez,4.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,543068,6.0,4.0,Right,Right,False,201700583.0,FF
3015414,Miguel Gonzalez,4.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,543068,6.0,4.0,Right,Right,False,201700583.0,CU
3015415,Miguel Gonzalez,4.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,543068,6.0,4.0,Right,Right,False,201700583.0,SL
3015416,Miguel Gonzalez,4.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,457787,6.0,4.0,Right,Left,False,201700583.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1567004,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,453923,1.0,0.0,Right,Left,False,201700652.0,FF
1567005,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,453923,1.0,0.0,Right,Left,False,201700652.0,FT
1567006,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,453923,1.0,0.0,Right,Left,False,201700652.0,SL
1567007,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,444482,1.0,0.0,Right,Left,False,201700652.0,FT
1567008,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,444482,1.0,0.0,Right,Left,False,201700652.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567089,Miguel Gonzalez,4.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,571875,6.0,1.0,Right,Left,False,201700652.0,FT
1567090,Miguel Gonzalez,4.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,572008,6.0,1.0,Right,Right,False,201700652.0,SL
1567091,Miguel Gonzalez,4.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,572008,6.0,1.0,Right,Right,False,201700652.0,SL
1567092,Miguel Gonzalez,4.0,1.0,1.0,0.0,3.0,0.0,0.0,1.0,572008,6.0,1.0,Right,Right,False,201700652.0,FT
1567093,Miguel Gonzalez,4.0,1.0,2.0,0.0,4.0,0.0,0.0,1.0,572008,6.0,1.0,Right,Right,False,201700652.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1567472,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,461865,1.0,0.0,Right,Left,True,201700737.0,FF
1567473,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,461865,1.0,0.0,Right,Left,True,201700737.0,FT
1567474,Miguel Gonzalez,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,461865,1.0,0.0,Right,Left,True,201700737.0,FF
1567475,Miguel Gonzalez,0.0,3.0,0.0,0.0,4.0,0.0,0.0,0.0,461865,1.0,0.0,Right,Left,True,201700737.0,FF
1567476,Miguel Gonzalez,0.0,3.0,1.0,0.0,5.0,0.0,0.0,0.0,461865,1.0,0.0,Right,Left,True,201700737.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567574,Miguel Gonzalez,2.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,578428,8.0,7.0,Right,Right,True,201700737.0,FT
1567575,Miguel Gonzalez,2.0,0.0,2.0,1.0,3.0,0.0,1.0,0.0,578428,8.0,7.0,Right,Right,True,201700737.0,CU
1567576,Miguel Gonzalez,2.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,461865,8.0,7.0,Right,Left,True,201700737.0,FT
1567577,Miguel Gonzalez,2.0,1.0,0.0,2.0,2.0,0.0,1.0,0.0,461865,8.0,7.0,Right,Left,True,201700737.0,SL
1567578,Miguel Gonzalez,2.0,2.0,0.0,2.0,3.0,0.0,1.0,0.0,461865,8.0,7.0,Right,Left,True,201700737.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
3047811,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,461865,1.0,0.0,Right,Left,False,201700817.0,FF
3047812,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,461865,1.0,0.0,Right,Left,False,201700817.0,SL
3047813,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,461865,1.0,0.0,Right,Left,False,201700817.0,FF
3047814,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,488671,1.0,0.0,Right,Left,False,201700817.0,FF
3047815,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,488671,1.0,0.0,Right,Left,False,201700817.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3047902,Miguel Gonzalez,6.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,578428,6.0,1.0,Right,Right,False,201700817.0,FF
3047903,Miguel Gonzalez,6.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,578428,6.0,1.0,Right,Right,False,201700817.0,FT
3047904,Miguel Gonzalez,6.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,461865,6.0,1.0,Right,Left,False,201700817.0,FT
3047905,Miguel Gonzalez,6.0,0.0,1.0,2.0,2.0,1.0,0.0,0.0,461865,6.0,1.0,Right,Left,False,201700817.0,SL
3047906,Miguel Gonzalez,6.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,461865,6.0,1.0,Right,Left,False,201700817.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1568520,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543401,1.0,0.0,Right,Left,False,201700895.0,FF
1568521,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,543401,1.0,0.0,Right,Left,False,201700895.0,FF
1568522,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,596019,1.0,0.0,Right,Left,False,201700895.0,CU
1568523,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,596019,1.0,0.0,Right,Left,False,201700895.0,CU
1568524,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,1.0,0.0,596019,1.0,0.0,Right,Left,False,201700895.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568611,Miguel Gonzalez,2.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,429665,5.0,3.0,Right,Right,False,201700895.0,FF
1568612,Miguel Gonzalez,2.0,0.0,1.0,2.0,2.0,1.0,0.0,0.0,429665,5.0,3.0,Right,Right,False,201700895.0,SL
1568613,Miguel Gonzalez,4.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,608070,5.0,3.0,Right,Left,False,201700895.0,FT
1568614,Miguel Gonzalez,4.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,608070,5.0,3.0,Right,Left,False,201700895.0,FS
1568615,Miguel Gonzalez,4.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,608070,5.0,3.0,Right,Left,False,201700895.0,CU

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1034127,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,547957,1.0,0.0,Right,Left,True,201700967.0,FF
1034128,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,547957,1.0,0.0,Right,Left,True,201700967.0,FF
1034129,Miguel Gonzalez,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,547957,1.0,0.0,Right,Left,True,201700967.0,FT
1034130,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,430945,1.0,0.0,Right,Right,True,201700967.0,FF
1034131,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,430945,1.0,0.0,Right,Right,True,201700967.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034221,Miguel Gonzalez,8.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,572241,5.0,5.0,Right,Left,True,201700967.0,CU
1034222,Miguel Gonzalez,8.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,572241,5.0,5.0,Right,Left,True,201700967.0,FS
1034223,Miguel Gonzalez,8.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,572241,5.0,5.0,Right,Left,True,201700967.0,FF
1034224,Miguel Gonzalez,8.0,1.0,2.0,2.0,4.0,0.0,0.0,0.0,572241,5.0,5.0,Right,Left,True,201700967.0,FF
1034225,Miguel Gonzalez,8.0,2.0,2.0,2.0,5.0,0.0,0.0,0.0,572241,5.0,5.0,Right,Left,True,201700967.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1573009,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,621035,1.0,0.0,Right,Right,True,201701390.0,FF
1573010,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,621035,1.0,0.0,Right,Right,True,201701390.0,FF
1573011,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,621035,1.0,0.0,Right,Right,True,201701390.0,SL
1573012,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,608369,1.0,0.0,Right,Left,True,201701390.0,FF
1573013,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,608369,1.0,0.0,Right,Left,True,201701390.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573109,Miguel Gonzalez,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,518735,6.0,0.0,Right,Left,True,201701390.0,FT
1573110,Miguel Gonzalez,1.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,518735,6.0,0.0,Right,Left,True,201701390.0,FF
1573111,Miguel Gonzalez,1.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,518735,6.0,0.0,Right,Left,True,201701390.0,FT
1573112,Miguel Gonzalez,1.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,518735,6.0,0.0,Right,Left,True,201701390.0,CU
1573113,Miguel Gonzalez,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,624577,6.0,0.0,Right,Right,True,201701390.0,SL

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
229537,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,518792,1.0,0.0,Right,Left,False,201701473.0,FF
229538,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,518792,1.0,0.0,Right,Left,False,201701473.0,FF
229539,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,518792,1.0,0.0,Right,Left,False,201701473.0,FT
229540,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,518792,1.0,0.0,Right,Left,False,201701473.0,FT
229541,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,592178,1.0,0.0,Right,Right,False,201701473.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229641,Miguel Gonzalez,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,656941,8.0,3.0,Right,Left,False,201701473.0,FS
229642,Miguel Gonzalez,1.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,656941,8.0,3.0,Right,Left,False,201701473.0,FS
229643,Miguel Gonzalez,1.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,656941,8.0,3.0,Right,Left,False,201701473.0,SL
229644,Miguel Gonzalez,1.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,656941,8.0,3.0,Right,Left,False,201701473.0,FT
229645,Miguel Gonzalez,1.0,2.0,2.0,1.0,5.0,0.0,0.0,0.0,656941,8.0,3.0,Right,Left,False,201701473.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1701934,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,605548,1.0,0.0,Right,Left,True,201701541.0,FF
1701935,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,605548,1.0,0.0,Right,Left,True,201701541.0,FT
1701936,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,605548,1.0,0.0,Right,Left,True,201701541.0,FT
1701937,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,605548,1.0,0.0,Right,Left,True,201701541.0,FF
1701938,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,605548,1.0,0.0,Right,Left,True,201701541.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1702036,Miguel Gonzalez,4.0,3.0,2.0,1.0,8.0,0.0,0.0,0.0,570481,6.0,3.0,Right,Right,True,201701541.0,FF
1702037,Miguel Gonzalez,4.0,3.0,2.0,1.0,9.0,0.0,0.0,0.0,570481,6.0,3.0,Right,Right,True,201701541.0,SL
1702038,Miguel Gonzalez,4.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,605548,6.0,3.0,Right,Left,True,201701541.0,CU
1702039,Miguel Gonzalez,4.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,605548,6.0,3.0,Right,Left,True,201701541.0,SL
1702040,Miguel Gonzalez,4.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,605548,6.0,3.0,Right,Left,True,201701541.0,FS

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
2971206,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,False,201701605.0,FF
2971207,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,False,201701605.0,FS
2971208,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,605141,1.0,0.0,Right,Right,False,201701605.0,FT
2971209,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,643217,1.0,0.0,Right,Left,False,201701605.0,FF
2971210,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,643217,1.0,0.0,Right,Left,False,201701605.0,FF
2971211,Miguel Gonzalez,0.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,643217,1.0,0.0,Right,Left,False,201701605.0,FF
2971212,Miguel Gonzalez,0.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,643217,1.0,0.0,Right,Left,False,201701605.0,SL
2971213,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,456488,1.0,0.0,Right,Right,False,201701605.0,FT
2971214,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,0.0,1.0,0.0,456488,1.0,0.0,Right,Right,False,201701605.0,FT
2971215,Miguel Gonzalez,0.0,1.0,1.0,1.0,3.0,0.0,1.0,0.0,456488,1.0,0.0,Right,Right,False,201701605.0,CU
2971216,Miguel Gonzalez,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,434670,1.0,0.0,Right,Right,False,201701605.0,FT
2971217,Miguel Gonzalez,1.0,1.0,0.0,1.0,2.0,0.0,1.0,0.0,434670,1.0,0.0,Right,Right,False,201701605.0,SL
2971218,Miguel Gonzalez,2.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,646240,1.0,0.0,Right,Left,False,201701605.0,SL
2971219,Miguel Gonzalez,2.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,646240,1.0,0.0,Right,Left,False,201701605.0,FT
2971220,Miguel Gonzalez,2.0,1.0,1.0,1.0,3.0,0.0,1.0,0.0,646240,1.0,0.0,Right,Left,False,201701605.0,FF
2971221,Miguel Gonzalez,2.0,1.0,2.0,1.0,4.0,0.0,1.0,0.0,646240,1.0,0.0,Right,Left,False,201701605.0,FF
2971222,Miguel Gonzalez,4.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,593428,1.0,0.0,Right,Right,False,201701605.0,CU
2971223,Miguel Gonzalez,4.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,593428,1.0,0.0,Right,Right,False,201701605.0,FS
2971224,Miguel Gonzalez,4.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,593428,1.0,0.0,Right,Right,False,201701605.0,SL
2971225,Miguel Gonzalez,4.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,593428,1.0,0.0,Right,Right,False,201701605.0,FT
2971226,Miguel Gonzalez,4.0,1.0,2.0,1.0,5.0,0.0,0.0,0.0,593428,1.0,0.0,Right,Right,False,201701605.0,FF
2971227,Miguel Gonzalez,4.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,519048,1.0,0.0,Right,Left,False,201701605.0,CU
2971228,Miguel Gonzalez,4.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,519048,1.0,0.0,Right,Left,False,201701605.0,SL
2971229,Miguel Gonzalez,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543877,2.0,2.0,Right,Right,False,201701605.0,FF
2971230,Miguel Gonzalez,4.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,543877,2.0,2.0,Right,Right,False,201701605.0,FF
2971231,Miguel Gonzalez,4.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,543877,2.0,2.0,Right,Right,False,201701605.0,FF
2971232,Miguel Gonzalez,4.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,598265,2.0,2.0,Right,Left,False,201701605.0,FS
2971233,Miguel Gonzalez,4.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,598265,2.0,2.0,Right,Left,False,201701605.0,SL
2971234,Miguel Gonzalez,4.0,2.0,0.0,0.0,3.0,1.0,0.0,0.0,598265,2.0,2.0,Right,Left,False,201701605.0,SL
2971235,Miguel Gonzalez,4.0,2.0,1.0,0.0,4.0,1.0,0.0,0.0,598265,2.0,2.0,Right,Left,False,201701605.0,FF
2971236,Miguel Gonzalez,4.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,605141,2.0,2.0,Right,Right,False,201701605.0,SL
2971237,Miguel Gonzalez,6.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,643217,2.0,2.0,Right,Left,False,201701605.0,CU
2971238,Miguel Gonzalez,6.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,643217,2.0,2.0,Right,Left,False,201701605.0,FT
2971239,Miguel Gonzalez,6.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,643217,2.0,2.0,Right,Left,False,201701605.0,CU
2971240,Miguel Gonzalez,6.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,643217,2.0,2.0,Right,Left,False,201701605.0,FT
2971241,Miguel Gonzalez,6.0,2.0,2.0,1.0,5.0,0.0,0.0,0.0,643217,2.0,2.0,Right,Left,False,201701605.0,FF
2971242,Miguel Gonzalez,6.0,3.0,2.0,1.0,6.0,0.0,0.0,0.0,643217,2.0,2.0,Right,Left,False,201701605.0,FF
2971243,Miguel Gonzalez,6.0,3.0,2.0,1.0,7.0,0.0,0.0,0.0,643217,2.0,2.0,Right,Left,False,201701605.0,SL
2971244,Miguel Gonzalez,6.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,456488,2.0,2.0,Right,Right,False,201701605.0,FT
2971245,Miguel Gonzalez,6.0,1.0,0.0,1.0,2.0,1.0,0.0,0.0,456488,2.0,2.0,Right,Right,False,201701605.0,FF
2971246,Miguel Gonzalez,6.0,1.0,1.0,1.0,3.0,1.0,0.0,0.0,456488,2.0,2.0,Right,Right,False,201701605.0,CU
2971247,Miguel Gonzalez,6.0,2.0,1.0,1.0,4.0,1.0,0.0,0.0,456488,2.0,2.0,Right,Right,False,201701605.0,FT
2971248,Miguel Gonzalez,6.0,3.0,1.0,1.0,5.0,0.0,1.0,0.0,456488,2.0,2.0,Right,Right,False,201701605.0,SL
2971249,Miguel Gonzalez,6.0,3.0,2.0,1.0,6.0,0.0,1.0,0.0,456488,2.0,2.0,Right,Right,False,201701605.0,SL
2971250,Miguel Gonzalez,6.0,3.0,2.0,1.0,7.0,0.0,1.0,0.0,456488,2.0,2.0,Right,Right,False,201701605.0,FT
2971251,Miguel Gonzalez,6.0,3.0,2.0,1.0,8.0,0.0,1.0,0.0,456488,2.0,2.0,Right,Right,False,201701605.0,FF
2971252,Miguel Gonzalez,6.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,434670,2.0,2.0,Right,Right,False,201701605.0,FF
2971253,Miguel Gonzalez,6.0,1.0,0.0,2.0,2.0,0.0,1.0,0.0,434670,2.0,2.0,Right,Right,False,201701605.0,FF
2971254,Miguel Gonzalez,6.0,2.0,0.0,2.0,3.0,0.0,1.0,0.0,434670,2.0,2.0,Right,Right,False,201701605.0,FF
2971255,Miguel Gonzalez,6.0,3.0,0.0,2.0,4.0,0.0,1.0,0.0,434670,2.0,2.0,Right,Right,False,201701605.0,FT
2971256,Miguel Gonzalez,6.0,3.0,1.0,2.0,5.0,0.0,1.0,0.0,434670,2.0,2.0,Right,Right,False,201701605.0,FT
2971257,Miguel Gonzalez,6.0,3.0,2.0,2.0,6.0,0.0,1.0,0.0,434670,2.0,2.0,Right,Right,False,201701605.0,FF
2971258,Miguel Gonzalez,6.0,3.0,2.0,2.0,7.0,0.0,1.0,0.0,434670,2.0,2.0,Right,Right,False,201701605.0,FS

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
1771600,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543807,1.0,0.0,Right,Right,True,201701688.0,FF
1771601,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,543807,1.0,0.0,Right,Right,True,201701688.0,FF
1771602,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,543807,1.0,0.0,Right,Right,True,201701688.0,FF
1771603,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,543807,1.0,0.0,Right,Right,True,201701688.0,FS
1771604,Miguel Gonzalez,0.0,1.0,2.0,0.0,5.0,0.0,0.0,0.0,543807,1.0,0.0,Right,Right,True,201701688.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1771700,Miguel Gonzalez,1.0,2.0,1.0,2.0,4.0,0.0,0.0,0.0,502210,8.0,7.0,Right,Left,True,201701688.0,FF
1771701,Miguel Gonzalez,1.0,3.0,1.0,2.0,5.0,0.0,0.0,0.0,502210,8.0,7.0,Right,Left,True,201701688.0,FF
1771702,Miguel Gonzalez,1.0,3.0,2.0,2.0,6.0,0.0,0.0,0.0,502210,8.0,7.0,Right,Left,True,201701688.0,FT
1771703,Miguel Gonzalez,1.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,493329,8.0,7.0,Right,Right,True,201701688.0,CU
1771704,Miguel Gonzalez,1.0,1.0,0.0,2.0,2.0,1.0,0.0,0.0,493329,8.0,7.0,Right,Right,True,201701688.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
2769251,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,621035,1.0,1.0,Right,Right,False,201701770.0,FF
2769252,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,621035,1.0,1.0,Right,Right,False,201701770.0,SL
2769253,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,621035,1.0,1.0,Right,Right,False,201701770.0,FF
2769254,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,621035,1.0,1.0,Right,Right,False,201701770.0,CU
2769255,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,608369,1.0,1.0,Right,Left,False,201701770.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2769346,Miguel Gonzalez,0.0,2.0,0.0,1.0,3.0,1.0,1.0,0.0,624577,6.0,1.0,Right,Right,False,201701770.0,FF
2769347,Miguel Gonzalez,0.0,3.0,0.0,1.0,4.0,1.0,1.0,0.0,624577,6.0,1.0,Right,Right,False,201701770.0,FF
2769348,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,523253,6.0,1.0,Right,Right,False,201701770.0,FF
2769349,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,1.0,1.0,1.0,523253,6.0,1.0,Right,Right,False,201701770.0,SL
2769350,Miguel Gonzalez,0.0,2.0,0.0,1.0,3.0,1.0,1.0,1.0,523253,6.0,1.0,Right,Right,False,201701770.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
448760,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,592261,1.0,0.0,Right,Right,False,201701839.0,FF
448761,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,592261,1.0,0.0,Right,Right,False,201701839.0,FF
448762,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,592261,1.0,0.0,Right,Right,False,201701839.0,SL
448763,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,592261,1.0,0.0,Right,Right,False,201701839.0,CU
448764,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,596059,1.0,0.0,Right,Left,False,201701839.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448863,Miguel Gonzalez,0.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,592685,6.0,3.0,Right,Left,False,201701839.0,SL
448864,Miguel Gonzalez,0.0,1.0,2.0,2.0,4.0,0.0,0.0,0.0,592685,6.0,3.0,Right,Left,False,201701839.0,FT
448865,Miguel Gonzalez,0.0,2.0,2.0,2.0,5.0,0.0,0.0,0.0,592685,6.0,3.0,Right,Left,False,201701839.0,FS
448866,Miguel Gonzalez,0.0,3.0,2.0,2.0,6.0,0.0,0.0,0.0,592685,6.0,3.0,Right,Left,False,201701839.0,FF
448867,Miguel Gonzalez,0.0,3.0,2.0,2.0,7.0,0.0,0.0,0.0,592685,6.0,3.0,Right,Left,False,201701839.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
3048095,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,435079,1.0,0.0,Right,Right,True,201701907.0,FF
3048096,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,435079,1.0,0.0,Right,Right,True,201701907.0,FF
3048097,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,435079,1.0,0.0,Right,Right,True,201701907.0,CU
3048098,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,435079,1.0,0.0,Right,Right,True,201701907.0,FT
3048099,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,435079,1.0,0.0,Right,Right,True,201701907.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3048194,Miguel Gonzalez,2.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,502100,8.0,2.0,Right,Left,True,201701907.0,FF
3048195,Miguel Gonzalez,2.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,502100,8.0,2.0,Right,Left,True,201701907.0,FT
3048196,Miguel Gonzalez,2.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,502100,8.0,2.0,Right,Left,True,201701907.0,CU
3048197,Miguel Gonzalez,2.0,2.0,2.0,1.0,5.0,0.0,0.0,0.0,502100,8.0,2.0,Right,Left,True,201701907.0,CU
3048198,Miguel Gonzalez,2.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,457708,8.0,2.0,Right,Right,True,201701907.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
450016,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,572821,1.0,0.0,Right,Right,False,201701992.0,FF
450017,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,572821,1.0,0.0,Right,Right,False,201701992.0,FF
450018,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,572821,1.0,0.0,Right,Right,False,201701992.0,FF
450019,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,572821,1.0,0.0,Right,Right,False,201701992.0,FT
450020,Miguel Gonzalez,0.0,1.0,2.0,0.0,5.0,0.0,0.0,0.0,572821,1.0,0.0,Right,Right,False,201701992.0,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450121,Miguel Gonzalez,3.0,1.0,2.0,2.0,4.0,0.0,0.0,0.0,643335,6.0,3.0,Right,Left,False,201701992.0,FF
450122,Miguel Gonzalez,3.0,1.0,2.0,2.0,5.0,0.0,0.0,0.0,643335,6.0,3.0,Right,Left,False,201701992.0,CU
450123,Miguel Gonzalez,3.0,2.0,2.0,2.0,6.0,0.0,0.0,0.0,643335,6.0,3.0,Right,Left,False,201701992.0,FS
450124,Miguel Gonzalez,3.0,2.0,2.0,2.0,7.0,0.0,0.0,0.0,643335,6.0,3.0,Right,Left,False,201701992.0,FS
450125,Miguel Gonzalez,3.0,2.0,2.0,2.0,8.0,0.0,0.0,0.0,643335,6.0,3.0,Right,Left,False,201701992.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
887289,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,542255,1.0,1.0,Right,Left,False,201702087.0,FF
887290,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,542255,1.0,1.0,Right,Left,False,201702087.0,CU
887291,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,542255,1.0,1.0,Right,Left,False,201702087.0,FF
887292,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,645277,1.0,1.0,Right,Left,False,201702087.0,FF
887293,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,645277,1.0,1.0,Right,Left,False,201702087.0,FF
887294,Miguel Gonzalez,0.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,645277,1.0,1.0,Right,Left,False,201702087.0,FS
887295,Miguel Gonzalez,0.0,2.0,1.0,1.0,4.0,0.0,0.0,0.0,645277,1.0,1.0,Right,Left,False,201702087.0,FS
887296,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,518692,1.0,1.0,Right,Left,False,201702087.0,FF
887297,Miguel Gonzalez,0.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,518692,1.0,1.0,Right,Left,False,201702087.0,FT
887298,Miguel Gonzalez,0.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,518692,1.0,1.0,Right,Left,False,201702087.0,FF
887299,Miguel Gonzalez,0.0,2.0,1.0,2.0,4.0,0.0,0.0,0.0,518692,1.0,1.0,Right,Left,False,201702087.0,CU
887300,Miguel Gonzalez,0.0,3.0,1.0,2.0,5.0,0.0,0.0,0.0,518692,1.0,1.0,Right,Left,False,201702087.0,FF
887301,Miguel Gonzalez,0.0,3.0,2.0,2.0,6.0,0.0,0.0,0.0,518692,1.0,1.0,Right,Left,False,201702087.0,FF
887302,Miguel Gonzalez,0.0,3.0,2.0,2.0,7.0,0.0,0.0,0.0,518692,1.0,1.0,Right,Left,False,201702087.0,SL
887303,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,461314,1.0,1.0,Right,Right,False,201702087.0,SL
887304,Miguel Gonzalez,0.0,0.0,1.0,2.0,2.0,1.0,0.0,0.0,461314,1.0,1.0,Right,Right,False,201702087.0,SL
887305,Miguel Gonzalez,0.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,461314,1.0,1.0,Right,Right,False,201702087.0,FT
887306,Miguel Gonzalez,2.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,455976,1.0,1.0,Right,Left,False,201702087.0,FT
887307,Miguel Gonzalez,2.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,455976,1.0,1.0,Right,Left,False,201702087.0,FF
887308,Miguel Gonzalez,2.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,455976,1.0,1.0,Right,Left,False,201702087.0,CU
887309,Miguel Gonzalez,2.0,2.0,1.0,2.0,4.0,0.0,0.0,0.0,455976,1.0,1.0,Right,Left,False,201702087.0,FF
887310,Miguel Gonzalez,2.0,2.0,2.0,2.0,5.0,0.0,0.0,0.0,455976,1.0,1.0,Right,Left,False,201702087.0,FT
887311,Miguel Gonzalez,2.0,3.0,2.0,2.0,6.0,0.0,0.0,0.0,455976,1.0,1.0,Right,Left,False,201702087.0,FF
887312,Miguel Gonzalez,2.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,621020,1.0,1.0,Right,Right,False,201702087.0,FT
887313,Miguel Gonzalez,2.0,0.0,1.0,2.0,2.0,1.0,0.0,0.0,621020,1.0,1.0,Right,Right,False,201702087.0,SL
887314,Miguel Gonzalez,2.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,621020,1.0,1.0,Right,Right,False,201702087.0,SL
887315,Miguel Gonzalez,2.0,2.0,1.0,2.0,4.0,1.0,0.0,0.0,621020,1.0,1.0,Right,Right,False,201702087.0,CU
887316,Miguel Gonzalez,2.0,2.0,2.0,2.0,5.0,1.0,0.0,0.0,621020,1.0,1.0,Right,Right,False,201702087.0,FS
887317,Miguel Gonzalez,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,547004,2.0,1.0,Right,Left,False,201702087.0,FS
887318,Miguel Gonzalez,2.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,547004,2.0,1.0,Right,Left,False,201702087.0,FT
887319,Miguel Gonzalez,2.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,547004,2.0,1.0,Right,Left,False,201702087.0,CU
887320,Miguel Gonzalez,2.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,547004,2.0,1.0,Right,Left,False,201702087.0,FS
887321,Miguel Gonzalez,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,571679,2.0,1.0,Right,Right,False,201702087.0,SL
887322,Miguel Gonzalez,2.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,571679,2.0,1.0,Right,Right,False,201702087.0,CU
887323,Miguel Gonzalez,2.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,571679,2.0,1.0,Right,Right,False,201702087.0,FT
887324,Miguel Gonzalez,2.0,1.0,2.0,1.0,4.0,0.0,0.0,0.0,571679,2.0,1.0,Right,Right,False,201702087.0,FT
887325,Miguel Gonzalez,2.0,1.0,2.0,1.0,5.0,0.0,0.0,0.0,571679,2.0,1.0,Right,Right,False,201702087.0,FS
887326,Miguel Gonzalez,2.0,2.0,2.0,1.0,6.0,0.0,0.0,0.0,571679,2.0,1.0,Right,Right,False,201702087.0,SL
887327,Miguel Gonzalez,2.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,627894,2.0,1.0,Right,Left,False,201702087.0,FF
887328,Miguel Gonzalez,2.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,627894,2.0,1.0,Right,Left,False,201702087.0,FS
887329,Miguel Gonzalez,2.0,0.0,2.0,2.0,3.0,0.0,0.0,0.0,627894,2.0,1.0,Right,Left,False,201702087.0,FS
887330,Miguel Gonzalez,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,542255,3.0,2.0,Right,Left,False,201702087.0,CU
887331,Miguel Gonzalez,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,645277,3.0,2.0,Right,Left,False,201702087.0,FF
887332,Miguel Gonzalez,3.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,518692,3.0,2.0,Right,Left,False,201702087.0,FT
887333,Miguel Gonzalez,4.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,461314,3.0,2.0,Right,Right,False,201702087.0,SL
887334,Miguel Gonzalez,4.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,461314,3.0,2.0,Right,Right,False,201702087.0,SL
887335,Miguel Gonzalez,4.0,0.0,2.0,0.0,3.0,1.0,0.0,0.0,461314,3.0,2.0,Right,Right,False,201702087.0,SL
887336,Miguel Gonzalez,4.0,1.0,2.0,0.0,4.0,1.0,0.0,0.0,461314,3.0,2.0,Right,Right,False,201702087.0,FS
887337,Miguel Gonzalez,4.0,1.0,2.0,0.0,5.0,1.0,0.0,0.0,461314,3.0,2.0,Right,Right,False,201702087.0,SL
887338,Miguel Gonzalez,4.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,455976,3.0,2.0,Right,Left,False,201702087.0,FF
887339,Miguel Gonzalez,4.0,1.0,0.0,1.0,2.0,1.0,0.0,0.0,455976,3.0,2.0,Right,Left,False,201702087.0,FT
887340,Miguel Gonzalez,4.0,2.0,0.0,1.0,3.0,1.0,0.0,0.0,455976,3.0,2.0,Right,Left,False,201702087.0,FT
887341,Miguel Gonzalez,4.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,621020,3.0,2.0,Right,Right,False,201702087.0,SL
887342,Miguel Gonzalez,4.0,1.0,0.0,2.0,2.0,1.0,0.0,0.0,621020,3.0,2.0,Right,Right,False,201702087.0,FT
887343,Miguel Gonzalez,4.0,2.0,0.0,2.0,3.0,1.0,0.0,0.0,621020,3.0,2.0,Right,Right,False,201702087.0,SL
887344,Miguel Gonzalez,4.0,2.0,1.0,2.0,4.0,1.0,0.0,0.0,621020,3.0,2.0,Right,Right,False,201702087.0,FF
887345,Miguel Gonzalez,4.0,2.0,2.0,2.0,5.0,1.0,0.0,0.0,621020,3.0,2.0,Right,Right,False,201702087.0,FS
887346,Miguel Gonzalez,4.0,3.0,2.0,2.0,6.0,1.0,0.0,0.0,621020,3.0,2.0,Right,Right,False,201702087.0,SL
887347,Miguel Gonzalez,4.0,3.0,2.0,2.0,7.0,1.0,0.0,0.0,621020,3.0,2.0,Right,Right,False,201702087.0,FF
887348,Miguel Gonzalez,4.0,3.0,2.0,2.0,8.0,1.0,0.0,0.0,621020,3.0,2.0,Right,Right,False,201702087.0,FS

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
3048337,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,516416,1.0,0.0,Right,Right,True,201702168.0,FF
3048338,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,516416,1.0,0.0,Right,Right,True,201702168.0,FT
3048339,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,516416,1.0,0.0,Right,Right,True,201702168.0,FT
3048340,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,571745,1.0,0.0,Right,Right,True,201702168.0,FT
3048341,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,571745,1.0,0.0,Right,Right,True,201702168.0,FS
3048342,Miguel Gonzalez,0.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,571745,1.0,0.0,Right,Right,True,201702168.0,FS
3048343,Miguel Gonzalez,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,429664,1.0,0.0,Right,Left,True,201702168.0,CU
3048344,Miguel Gonzalez,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,429664,1.0,0.0,Right,Left,True,201702168.0,FT
3048345,Miguel Gonzalez,0.0,1.0,1.0,2.0,3.0,0.0,0.0,0.0,429664,1.0,0.0,Right,Left,True,201702168.0,FT
3048346,Miguel Gonzalez,0.0,1.0,2.0,2.0,4.0,0.0,0.0,0.0,429664,1.0,0.0,Right,Left,True,201702168.0,FT
3048347,Miguel Gonzalez,0.0,1.0,2.0,2.0,5.0,0.0,0.0,0.0,429664,1.0,0.0,Right,Left,True,201702168.0,FS
3048348,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,443558,2.0,0.0,Right,Right,True,201702168.0,SL
3048349,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,443558,2.0,0.0,Right,Right,True,201702168.0,FT
3048350,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,443558,2.0,0.0,Right,Right,True,201702168.0,FS
3048351,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,443558,2.0,0.0,Right,Right,True,201702168.0,FT
3048352,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,572122,2.0,0.0,Right,Left,True,201702168.0,CU
3048353,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,572122,2.0,0.0,Right,Left,True,201702168.0,FS
3048354,Miguel Gonzalez,0.0,2.0,0.0,0.0,3.0,1.0,0.0,0.0,572122,2.0,0.0,Right,Left,True,201702168.0,FS
3048355,Miguel Gonzalez,0.0,3.0,0.0,0.0,4.0,1.0,0.0,0.0,572122,2.0,0.0,Right,Left,True,201702168.0,FF
3048356,Miguel Gonzalez,0.0,3.0,1.0,0.0,5.0,1.0,0.0,0.0,572122,2.0,0.0,Right,Left,True,201702168.0,FT
3048357,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,475174,2.0,0.0,Right,Left,True,201702168.0,FT
3048358,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,1.0,0.0,0.0,475174,2.0,0.0,Right,Left,True,201702168.0,SL
3048359,Miguel Gonzalez,0.0,2.0,0.0,1.0,3.0,1.0,0.0,0.0,475174,2.0,0.0,Right,Left,True,201702168.0,FT
3048360,Miguel Gonzalez,0.0,2.0,1.0,1.0,4.0,1.0,0.0,0.0,475174,2.0,0.0,Right,Left,True,201702168.0,FT
3048361,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,572287,2.0,0.0,Right,Right,True,201702168.0,FS
3048362,Miguel Gonzalez,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,592325,2.0,0.0,Right,Left,True,201702168.0,FT
3048363,Miguel Gonzalez,1.0,0.0,1.0,1.0,2.0,1.0,0.0,1.0,592325,2.0,0.0,Right,Left,True,201702168.0,CU
3048364,Miguel Gonzalez,1.0,1.0,1.0,1.0,3.0,1.0,0.0,1.0,592325,2.0,0.0,Right,Left,True,201702168.0,FS
3048365,Miguel Gonzalez,4.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,628338,2.0,0.0,Right,Right,True,201702168.0,FT
3048366,Miguel Gonzalez,4.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,628338,2.0,0.0,Right,Right,True,201702168.0,FT
3048367,Miguel Gonzalez,4.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,516416,2.0,0.0,Right,Right,True,201702168.0,SL
3048368,Miguel Gonzalez,4.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,516416,2.0,0.0,Right,Right,True,201702168.0,FF
3048369,Miguel Gonzalez,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,571745,3.0,1.0,Right,Right,True,201702168.0,FF
3048370,Miguel Gonzalez,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,571745,3.0,1.0,Right,Right,True,201702168.0,SL
3048371,Miguel Gonzalez,4.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,429664,3.0,1.0,Right,Left,True,201702168.0,FT
3048372,Miguel Gonzalez,4.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,443558,3.0,1.0,Right,Right,True,201702168.0,FT
3048373,Miguel Gonzalez,4.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0,443558,3.0,1.0,Right,Right,True,201702168.0,FF
3048374,Miguel Gonzalez,4.0,1.0,1.0,0.0,3.0,0.0,1.0,1.0,443558,3.0,1.0,Right,Right,True,201702168.0,FS
3048375,Miguel Gonzalez,4.0,2.0,1.0,0.0,4.0,0.0,1.0,1.0,443558,3.0,1.0,Right,Right,True,201702168.0,SL
3048376,Miguel Gonzalez,4.0,3.0,1.0,0.0,5.0,0.0,1.0,1.0,443558,3.0,1.0,Right,Right,True,201702168.0,FT
3048377,Miguel Gonzalez,4.0,3.0,2.0,0.0,6.0,0.0,1.0,1.0,443558,3.0,1.0,Right,Right,True,201702168.0,FF
3048378,Miguel Gonzalez,4.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,572122,3.0,1.0,Right,Left,True,201702168.0,CU
3048379,Miguel Gonzalez,4.0,0.0,1.0,1.0,2.0,0.0,1.0,1.0,572122,3.0,1.0,Right,Left,True,201702168.0,FF
3048380,Miguel Gonzalez,4.0,1.0,1.0,1.0,3.0,0.0,1.0,1.0,572122,3.0,1.0,Right,Left,True,201702168.0,CU

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
521635,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,545361,1.0,2.0,Right,Right,False,201702239.0,FF
521636,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,545361,1.0,2.0,Right,Right,False,201702239.0,FT
521637,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,545361,1.0,2.0,Right,Right,False,201702239.0,FF
521638,Miguel Gonzalez,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,545361,1.0,2.0,Right,Right,False,201702239.0,CU
521639,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,545361,1.0,2.0,Right,Right,False,201702239.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521717,Miguel Gonzalez,1.0,1.0,0.0,2.0,2.0,0.0,1.0,1.0,457708,5.0,3.0,Right,Right,False,201702239.0,FF
521718,Miguel Gonzalez,1.0,2.0,0.0,2.0,3.0,0.0,1.0,1.0,457708,5.0,3.0,Right,Right,False,201702239.0,FS
521719,Miguel Gonzalez,1.0,3.0,0.0,2.0,4.0,0.0,1.0,1.0,457708,5.0,3.0,Right,Right,False,201702239.0,FS
521720,Miguel Gonzalez,1.0,3.0,1.0,2.0,5.0,0.0,1.0,1.0,457708,5.0,3.0,Right,Right,False,201702239.0,SL
521721,Miguel Gonzalez,1.0,0.0,0.0,2.0,1.0,1.0,1.0,1.0,405395,5.0,3.0,Right,Right,False,201702239.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
2373074,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543760,1.0,0.0,Right,Right,False,201702317.0,FF
2373075,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,543760,1.0,0.0,Right,Right,False,201702317.0,FF
2373076,Miguel Gonzalez,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,543760,1.0,0.0,Right,Right,False,201702317.0,FF
2373077,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,459964,1.0,0.0,Right,Left,False,201702317.0,FF
2373078,Miguel Gonzalez,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,459964,1.0,0.0,Right,Left,False,201702317.0,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2373152,Miguel Gonzalez,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,621566,6.0,0.0,Right,Left,False,201702317.0,FS
2373153,Miguel Gonzalez,1.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,621566,6.0,0.0,Right,Left,False,201702317.0,FF
2373154,Miguel Gonzalez,1.0,0.0,2.0,2.0,3.0,0.0,0.0,0.0,621566,6.0,0.0,Right,Left,False,201702317.0,FT
2373155,Miguel Gonzalez,1.0,1.0,2.0,2.0,4.0,0.0,0.0,0.0,621566,6.0,0.0,Right,Left,False,201702317.0,CH
2373156,Miguel Gonzalez,1.0,2.0,2.0,2.0,5.0,0.0,0.0,0.0,621566,6.0,0.0,Right,Left,False,201702317.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
2373606,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,543760,1.0,0.0,Right,Right,True,201702383.0,FT
2373607,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,543760,1.0,0.0,Right,Right,True,201702383.0,FT
2373608,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,543760,1.0,0.0,Right,Right,True,201702383.0,SL
2373609,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,459964,1.0,0.0,Right,Left,True,201702383.0,FF
2373610,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,459964,1.0,0.0,Right,Left,True,201702383.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2373699,Miguel Gonzalez,1.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,501981,6.0,1.0,Right,Right,True,201702383.0,FT
2373700,Miguel Gonzalez,1.0,0.0,0.0,2.0,1.0,0.0,1.0,1.0,592387,6.0,1.0,Right,Right,True,201702383.0,CU
2373701,Miguel Gonzalez,1.0,0.0,1.0,2.0,2.0,0.0,1.0,1.0,592387,6.0,1.0,Right,Right,True,201702383.0,SL
2373702,Miguel Gonzalez,1.0,0.0,2.0,2.0,3.0,0.0,1.0,1.0,592387,6.0,1.0,Right,Right,True,201702383.0,CU
2373703,Miguel Gonzalez,1.0,1.0,2.0,2.0,4.0,0.0,1.0,1.0,592387,6.0,1.0,Right,Right,True,201702383.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
2657608,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,434158,1.0,0.0,Right,Left,False,201800065.0,FF
2657609,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,434158,1.0,0.0,Right,Left,False,201800065.0,FF
2657610,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,518626,1.0,0.0,Right,Right,False,201800065.0,FF
2657611,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,518626,1.0,0.0,Right,Right,False,201800065.0,SL
2657612,Miguel Gonzalez,0.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,518626,1.0,0.0,Right,Right,False,201800065.0,FS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657692,Miguel Gonzalez,6.0,3.0,0.0,2.0,4.0,0.0,0.0,0.0,434778,5.0,3.0,Right,Left,False,201800065.0,FT
2657693,Miguel Gonzalez,6.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,607680,5.0,3.0,Right,Right,False,201800065.0,FF
2657694,Miguel Gonzalez,6.0,0.0,1.0,2.0,2.0,1.0,0.0,0.0,607680,5.0,3.0,Right,Right,False,201800065.0,FF
2657695,Miguel Gonzalez,6.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,607680,5.0,3.0,Right,Right,False,201800065.0,FF
2657696,Miguel Gonzalez,6.0,1.0,2.0,2.0,4.0,1.0,0.0,0.0,607680,5.0,3.0,Right,Right,False,201800065.0,FT

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
454458,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,452655,1.0,0.0,Right,Left,True,201800146.0,FF
454459,Miguel Gonzalez,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,452655,1.0,0.0,Right,Left,True,201800146.0,FT
454460,Miguel Gonzalez,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,452655,1.0,0.0,Right,Left,True,201800146.0,FS
454461,Miguel Gonzalez,0.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0,452655,1.0,0.0,Right,Left,True,201800146.0,FF
454462,Miguel Gonzalez,0.0,2.0,2.0,0.0,5.0,0.0,0.0,0.0,452655,1.0,0.0,Right,Left,True,201800146.0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454546,Miguel Gonzalez,3.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,622110,5.0,1.0,Right,Right,True,201800146.0,FT
454547,Miguel Gonzalez,3.0,1.0,0.0,1.0,2.0,0.0,0.0,1.0,622110,5.0,1.0,Right,Right,True,201800146.0,CU
454548,Miguel Gonzalez,3.0,1.0,1.0,1.0,3.0,0.0,0.0,1.0,622110,5.0,1.0,Right,Right,True,201800146.0,FF
454549,Miguel Gonzalez,3.0,2.0,1.0,1.0,4.0,0.0,0.0,1.0,622110,5.0,1.0,Right,Right,True,201800146.0,SL
454550,Miguel Gonzalez,3.0,2.0,2.0,1.0,5.0,0.0,0.0,1.0,622110,5.0,1.0,Right,Right,True,201800146.0,FF

,full_name,b_score,b_count,s_count,current_outs,pitch_num,on_1b,on_2b,on_3b,batter_id,inning,p_score,p_throws,batter_stance,top,g_id,pitch_type
3048623,Miguel Gonzalez,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,459964,1.0,0.0,Right,Left,False,201800233.0,FS
3048624,Miguel Gonzalez,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,459964,1.0,0.0,Right,Left,False,201800233.0,FS
3048625,Miguel Gonzalez,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,543760,1.0,0.0,Right,Right,False,201800233.0,FS
3048626,Miguel Gonzalez,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,543760,1.0,0.0,Right,Right,False,201800233.0,SL
3048627,Miguel Gonzalez,0.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,543760,1.0,0.0,Right,Right,False,201800233.0,CU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3048694,Miguel Gonzalez,5.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0,518960,4.0,0.0,Right,Right,False,201800233.0,FF
3048695,Miguel Gonzalez,5.0,0.0,2.0,0.0,3.0,0.0,1.0,1.0,518960,4.0,0.0,Right,Right,False,201800233.0,CU
3048696,Miguel Gonzalez,5.0,0.0,2.0,0.0,4.0,0.0,1.0,1.0,518960,4.0,0.0,Right,Right,False,201800233.0,FF
3048697,Miguel Gonzalez,5.0,1.0,2.0,0.0,5.0,0.0,1.0,1.0,518960,4.0,0.0,Right,Right,False,201800233.0,FS
3048698,Miguel Gonzalez,5.0,1.0,2.0,0.0,6.0,0.0,1.0,1.0,518960,4.0,0.0,Right,Right,False,201800233.0,FS

In [20]:
pitches.pitch_type.value_counts().index

Index(['FF', 'SL', 'FT', 'CH', 'SI', 'CU', 'FC', 'KC', 'FS', 'KN', 'IN', 'EP',
       'FO', 'PO', 'SC', 'UN', 'FA', 'AB'],
      dtype='object')